{% extends "generic/newbase_with_actions.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}medbank/fontello/css/fontello.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}medbank/fontello/css/animation.css"><!--[if IE 7]>
    <link rel="stylesheet" href="{{ STATIC_URL }}medbank/fontello/css/fontello-ie7.css"><![endif]-->
{% endblock head %}
{% load custom_filters %}

{% block actions %}
{% if student_can_sign_up or student_can_unassign_from_activity or can_write_questions or user.is_superuser or can_view_block %}
	<h3>Page actions</h3>
{% if view_signup_status %}
	{% if student_can_sign_up %}
		<a class="action" href="{{activity.get_signup_url}}{% if user.is_superuser %}?writing_period={{ activity_year.block_week.writing_period.id }}{% endif %}">Assign to me</a>
	{% endif %}{% if student_can_unassign_from_activity %}
    <a class="action" href="{{ activity.get_unassign_url }}{% if user.is_superuser %}?writing_period={{ activity_year.block_week.writing_period.id }}{% endif %}">Unassign from me</a>
{% endif %}
{% endif %}{% if can_write_questions or user.is_superuser %}
    <a class="action" href="{{ activity.get_new_question_url }}{% if user.is_superuser %}?writing_period={{ activity_year.block_week.writing_period.id }}{% endif %}">Write questions</a>
{% endif %}
{% if can_view_block %}
	<a class="action" href="{{ activity_year.block_week.writing_period.block_year.get_activity_display_url }}">Back to block</a>	
{% endif %}
{% if user.is_superuser %}
	<h3>Admin</h3>
	<a class="action" href="{{ activity.get_previous_activity_assign_url }}{% if user.is_superuser %}?writing_period={{ activity_year.block_week.writing_period.id }}{% endif %}">Assign previous activity</a>	
	<a class="action" href="{{ activity.get_assign_student_url }}{% if user.is_superuser %}?writing_period={{ activity_year.block_week.writing_period.id }}{% endif %}">Assign to student</a>
{% endif %}
{% endif %}
{% endblock actions %}

{% block maincontent %}
	<h1>{{ activity.get_activity_type_display }} - {{ activity.name|safe }}{% if activity_year.block_week.writing_period.block_year.block.code_includes_week %} ({{ activity_year.block_week.writing_period.block_year.block.code }}.{{ activity_year.block_week.sort_index|stringformat:"02d" }}){% endif %}{% if view_signup_status %} <small>{% include "activity/display_activity_availability.html" with teaching_activity_year=activity_year %}</small>{% endif %}</h1>
	<p><strong>Block:</strong> {{ activity_year.block_week.writing_period.block_year.block.name }}</p>
	<p><strong>Years available:</strong> {{ activity.years_available|humanize_list }}</p>
	<p><strong>Link to Compass:</strong> <a target="_blank" href="{{ activity.get_reference_url }}">Click here</a> to view this activity on Compass.</p>
{% if activity.previous_activity %}
	<p><strong>There is an older version of this activity on MedBank. You can view the older version by <a href="{{ activity.previous_activity.get_absolute_url }}">clicking here</a>.</strong></p>
{% endif %}
	{% if view_signup_status %}
		{% if not current_question_writer_count %}
	        <p>Nobody has assigned themselves to write questions for this activity.</p>
	    {% else %}
		    <p><strong>{% if student_is_writing_for_activity %}You have assigned yourself to write questions for this {{ activity.get_activity_type_display }}. {{ current_question_writer_count|subtract:"1"|default:"No" }} other {{ current_question_writer_count|subtract:"1"|plural:"person has" }}{% else %}{{ current_question_writer_count }} {{ current_question_writer_count|plural:"person has" }}{% endif %} assigned themselves to this activity.</strong></p>
		{% endif %}
		{% if student_is_writing_for_activity %}
			Questions for this activity {% if activity_year.block_week.writing_period.has_closed %}were{% else %}are{% endif %} due by {{ activity_year.block_week.writing_period.close }}.</p>
		{% endif %}
	{% endif %}

	{% if question_list %}
	<h2>Questions</h2>
		{% regroup question_list by teaching_activity_year.block_week.writing_period.block_year.year as questions_by_year %}
		{% for question_group in questions_by_year %}
			<div class="week">
		        <div class="week-heading collapse-trigger" data-target="#week-activities-{{ question_group.grouper }}">
		            <span class="h3" style="display:inline-block">{{ question_group.grouper }}</span>
		            <i class="icon-angle-down"></i>
		            <span class="h3 pull-right hidden-xs" style="display:inline-block">{{ question_group.list|length }} {{ question_group.list|length|plural:"question" }}</span>
		        </div>
		        <div class="week-activities collapse" id="week-activities-{{ question_group.grouper }}">
		            {% for question in question_group.list %}
		                <div class="activity">
		                	<div class="row">
		                		<div class="col-sm-9"><a class="ellipsis-overflow" href="{{ question.get_absolute_url }}{% if user.is_superuser %}?writing_period={{ activity_year.block_week.writing_period.id }}{% endif %}">{{ question.body|safe }}</a></div>
		                		{% if user.is_superuser %}<div class="col-sm-3 hidden-xs text-right">{% include "question/display_status.html" %}</div>{% elif user.student == question.creator %}<div class="col-sm-3 hidden-xs loading text-right">Written by you</div>{% endif %}
		                	</div>
		                </div>
		            {% endfor %}
		        </div>
			</div>
		{% empty %}
		<p>No questions have been written for this activity yet.</p>
		{% endfor %}
	{% elif view_signup_status or can_write_questions %}
		<p>You cannot currently view questions for this block. You can view every question written for {{ activity_year.block_week.writing_period.block_year.block }} by writing questions for it in {% now "Y" %}.</p>
	{% endif %}
{% endblock maincontent %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function () {
            $(".collapse-trigger").each(function () {
                $(this).click(function () {
                    $($(this).attr("data-target")).collapse("toggle")
                })
            })
        })
    </script>
{% endblock javascript %}
