{% extends "newbase.html" %}

{% block content %}
	<h1>Add question to specification</h1>
	<p>Please choose a specification to which to add this question.</p>
	<form class="form-horizontal" role="form" method="post">
        {% csrf_token %}
        {{ form.as_bootstrap }}
        <div class="form-group">
            <div class="col-md-offset-2 col-md-6">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
	</form>
{% endblock content %}