{% extends "newbase.html" %}

{% block content %}
    <h1>Administration</h1>
    <h3>Site status</h3>
    <dl class="dl-horizontal">
        <dt>Debug mode</dt><dd>{% if debug_mode %}<strong class="text-danger">ON</strong> (Users will be able to see the details of errors if they occur. No emails are sent to the webmaster.){% else %}<strong class="text-success">OFF</strong> (Users will not be able to see the details of errors when they occur. The webmaster will receive emails containing the details of the errors.){% endif %}</dd>
        <dt>Maintenance mode</dt><dd>{% if maintenance_mode %}<strong class="text-danger">ON</strong> (All users except admins will be displayed a site-maintenance page){% else %}<strong class="text-success">OFF</strong> (Users are able to use the site as normal){% endif %}</dd>
    </dl>
    <strong>If debug mode is set to ON, please let Michael know fairly quickly and urge him to change it.</strong>
    <h2>Currently active blocks</h2>
    {% for b in blocks %}
        {% if forloop.first %}
            <div class="spacer">
                <table class="table">
                    <tr>
                        <th>Block</th>
                        <th class="text-center">Latest active year</th>
                        <th>Admin</th>
                    </tr>
        {% endif %}
        {% with b.get_latest_year as block_year %}
        <tr>
            <td><a href="{{ block_year.get_activity_display_url }}">Block {{ b.code }}: {{ b.name }}</a></td>
            <td class="text-center">{{ block_year.year|default:"None" }}</td>
            <td><a href="{{ b.get_admin_url }}">Admin</a></td>
        </tr>
        {% endwith %}
        {% if forloop.last %}
                </table>
            </div>
        {% endif %}
    {% empty %}
        <p>There are no active blocks in {% now "Y" %}.</p>
    {% endfor %}
    <p><a class="action" href="{{ block_creation_url }}">Add a new block</a></p>

    <h2>Student administration</h2>
    <p>Look up <a href="{% url 'student-lookup' %}">information about a particular student.</a></p>

    <h2>Settings <small><a class="action" href="{% url 'admin-settings-create' %}">Create missing settings</a></small></h2>
    <h3>Student dashboard settings</h3>
    <p>Click on a setting name to view it or change it.</p>
    {% for setting in student_dashboard_settings %}
        <h4><a href="{% url 'admin-settings-view' pk=setting.pk %}">{{ setting.verbose_name }}</a> <span class="{% if setting.main_text or setting.secondary_text %}text-success{% else %}loading{% endif %}">{% if setting.main_text or setting.secondary_text %}Set{% else %}Empty{% endif %}</h4>
        <p>{{ setting.description|default:"" }}</p>
    {% empty %}
        <p>There are no settings in the database yet.</p>
    {% endfor %}

    <h3>Approval dashboard settings</h3>
    <p>Click on a setting name to view it or change it.</p>
    {% for setting in approval_dashboard_settings %}
        <h4><a href="{% url 'admin-settings-view' pk=setting.pk %}">{{ setting.verbose_name }}</a>  <span class="{% if setting.main_text or setting.secondary_text %}text-success{% else %}loading{% endif %}">{% if setting.main_text or setting.secondary_text %}Set{% else %}Empty{% endif %}</h4>
        <p>{{ setting.description|default:"" }}</p>
    {% empty %}
        <p>There are no settings in the database yet.</p>
    {% endfor %}
    
{% endblock content %}