{% extends "newbase.html" %}
{% load custom_filters %}

{% block content %}
{% with object as block %}
    <h1>{{ block }}</h1>
    <div class="row">
        <div class="col-sm-4">
            <div class="dashboard">
                <h1>{{ block.assigned_activities_count }}</h1>
                <p class="lead">activit{% if block.assigned_activities_count == 1 %}y{% else %}ies{% endif %} assigned</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="dashboard">
                <h1>{{ block.total_activities_count }}</h1>
                <p class="lead">activit{% if block.total_activities_count == 1 %}y{% else %}ies{% endif %} total</p>
                <a class="action" href="{{ block.get_activity_upload_url }}">Upload</a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="dashboard">
                <h1>{{ block.weeks }}</h1>
                <p class="lead">week{{ block.weeks|pluralize }} total</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="dashboard">
                <h1>{{ block.activity_capacity }}</h1>
                <p class="lead">user{{ block.activity_capacity|pluralize }} maximum per activity</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="dashboard">
                <h1>{{ block.assigned_users_count }}</h1>
                <p class="lead">user{{ block.assigned_users_count|pluralize }} signed up in total</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="dashboard">
                <h1>{{ block.questions_approved_count }}</h1>
                <p class="lead">question{{ block.questions_approved_count|pluralize }} approved</p>
                <a class="action" href="{% url 'block-approval-statistics' code=block.code year=block.year %}">View statistics</a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="dashboard">
                <h1>{{ block.questions_pending_count }}</h1>
                <p class="lead">question{{ block.questions_pending_count|pluralize }} pending</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="dashboard">
                <h1>{{ block.questions_flagged_count }}</h1>
                <p class="lead">question{{ block.questions_flagged_count|pluralize }} flagged</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="dashboard">
                <p class="lead">This block start{% if now < block.start %}s{% else %}ed{% endif %} on</p>
                <h1>{{ block.start|date:"SHORT_DATE_FORMAT" }}</h1>
                <a class="action" href="{% url "block-edit" year=block.year code=block.code %}">Change</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="dashboard">
                <p class="lead">This block end{% if now < block.end %}s{% else %}ed{% endif %} on</p>
                <h1>{{ block.end|date:"SHORT_DATE_FORMAT" }}</h1>
                <a class="action" href="{% url "block-edit" year=block.year code=block.code %}">Change</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="dashboard">
                <p class="lead">This block close{% if now < block.close %}s{% else %}d{% endif %} on</p>
                <h1>{{ block.close|date:"SHORT_DATE_FORMAT" }}</h1>
                <a class="action" href="{% url "block-edit" year=block.year code=block.code %}">Change</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="dashboard">
                <p class="lead">Release status</p>
                {% if block.released %}<h1 class="text-success">Released</h1>{% else %}<h1 class="text-danger">Not released</h1>{% endif %}
                {% if block.released %}<a class="action" href="{% url 'email' code=block.code year=block.year %}?document">Email questions</a>{% else %}<a class="action" href="{{ b.get_release_url }}">Release now</a>{% endif %}
            </div>
        </div>
    </div>
{% endwith %}
{% endblock content %}
