{% extends "newbase.html" %}

{% block content %}
	<h1>Confirm teaching activity upload</h1>
    <form method="post" class="form-horizontal" action="{% url 'activity-upload-submit' %}">
        {% csrf_token %}
        <div>
            <p>Please check that the following information is correct before saving it to the database.
        </div>
        <table class="table">
            <tr>
                <th class="lead">Name</th>
                <th class="lead">Block</th>
                <th class="lead">Week</th>
                <th class="lead">Position</th>
                <th class="lead">Type</th>
            </tr>
            {% for b, ta in tab.iteritems %}
                {% for t in ta %}
                    <tr>
                        <td>{{ t.name }}<input type="hidden" value="{{ t.reference_id }}" name="reference_id" /><input type="hidden" value="{{ t.name }}" name="name_{{ t.reference_id}}" /></td>
                        <td>{{ b.name }}<input type="hidden" value="{{ b.code }}" name="block_{{ t.reference_id }}" /></td>
                        <td>{{ t.week }}<input type="hidden" value="{{ t.week }}" name="week_{{ t.reference_id }}" /></td>
                        <td>{{ t.position }}<input type="hidden" value="{{ t.position }}" name="position_{{ t.reference_id }}" /></td>
                        <td>{{ t.get_activity_type_display }}<input type="hidden" value="{{ t.activity_type }}" name="activity_type_{{ t.reference_id }}" /></td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
        <input type="hidden" name="year" value="{{ year }}" />
        <div class="form-actions">
                <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
{% endblock content %}