{% extends "newbase_with_actions.html" %}

{% block actions %}
    <h3>Page actions</h3>    
    <a class="action" href="{% url 'admin-settings-edit' pk=object.pk %}">Edit setting</a>
{% endblock actions %}


{% block maincontent %}
	<h1>View setting: {{ object.verbose_name }}</h1>
	<p>{{ object.description|default:"This setting does not have a description." }}</p>
	{% if object.value %}
	<p>This setting has the following value:</p>
	{% if object.main_text or object.secondary_text %}
		<div class="row">
			<div class="col-sm-12">
				<div class="dashboard">
					<h2>{{ object.main_text }}</h2>
					<p class="lead">{{ object.secondary_text }}</p>
				</div>
			</div>
		</div>
	{% endif %}
	{% else %}
	<p>This setting does not have a set value.</p>
	{% endif %}
{% endblock maincontent %}