{% extends "base_with_actions.html" %}

{% block actions %}
    <h3 class="thin">Page actions</h3>    
    <a class="action" href="{% url 'block-new' %}">Add a new block</a>
    {% if blocks %}
        <a class="action" href="{% url 'activity-upload' %}">Upload teaching activities</a>
    {% endif %}
    {% if questions_pending %}
        <a class="action" href="{% url 'admin-approve-choose' %}">Approve questions</a>
    {% endif %}
{% endblock actions %}

{% block maincontent %}
    <h1 class="thin">Administration</h1>
    {% for b in blocks %}
        {% if forloop.first %}
            <h3 class="thin">Currently active blocks</h3>
            <div class="spacer">
                <table class="table">
                    <tr>
                        <th class="thin">Stage</th>
                        <th class="thin">Block</th>
                        <th class="thin">Start</th>
                        <th class="thin">End</th>
                        <th class="thin">Activities assigned</th>
                        <th class="thin">Total activities</th>
                    </tr>
        {% endif %}
            <tr>
                <td>{{ b.stage }}</td>
                <td>{{ b.name }}</td>
                <td>{{ b.start }}</td>
                <td>{{ b.end }}</td>
                <td>{{ b.assigned_activities_count}}</td>
                <td>{{ b.total_activities_count }}</td>
            </tr>
        {% if forloop.last %}
                </table>
            </div>
        {% endif %}
    {% empty %}
        <h3 class="thin">Step 1: Add a block</h3>
        <p>Before you can add any teaching activities, you need to set up a teaching block.</p>
        <p>You can add a new block using the action on the right.</p>
    {% endfor %}

    <h3 class="thin">Step 2: Upload teaching activities</h3>
    <p>You can upload teaching activities using the action on the right.</p>

    <h3 class="thin">Step 3: Release teaching blocks and notify students</h3>
    <p>Teaching blocks are released based on their start date. You can view the start dates for teaching blocks this year by looking in the table above.</p>
    <p>Students can assign themselves to teaching activities up to and including the end date for that block. After the end date, they will still be able to write questions for their assigned activities.</p>

    <h3 class="thin">Step 4: Approve questions</h3>
    <p>Approve questions by clicking "Approve questions" in the action panel. You'll need to approve all the questions before you can generate the questions document.</p>
    {% for b in blocks %}
    {% if forloop.first %}
        <div class="spacer">
            <table class="table">
                <tr>
                    <th class="thin">Stage</th>
                    <th class="thin">Block</th>
                    <th class="thin">Questions approved</th>
                    <th class="thin">Questions pending</th>
                    <th class="thin">Contact participants</th>
                </tr>
    {% endif %}
        <tr>
            <td>{{ b.stage }}</td>
            <td>{{ b.name }}</td>
            <td>{{ b.questions_approved_count}}</td>
            <td>{{ b.questions_pending_count }}</td>
            <td><a href="">Email</a></td>
        </tr>
    {% if forloop.last %}
            </table>
        </div>
    {% endif %}
    {% endfor %}

    <h3 class="thin">Step 5: Generate a questions document and email it to students</h3>
    {% for b in blocks %}
    {% if forloop.first %}
        <div class="spacer">
            <table class="table">
                <tr>
                    <th class="thin">Stage</th>
                    <th class="thin">Block</th>
                    <th class="thin">Questions only</th>
                    <th class="thin">Questions and answers</th>
                    <th class="thin">Email</th>
                </tr>
    {% endif %}
        <tr>
            <td>{{ b.stage }}</td>
            <td>{{ b.name }}</td>
            <td><a href="{% url 'questions.views.download' pk=b.pk mode='question' %}">Download</a></td>
            <td><a href="{% url 'questions.views.download' pk=b.pk mode='answer' %}">Download</a></td>
            <td><a href="{% url 'questions.views.send' pk=b.pk %}">Email</a></td>
        </tr>
    {% if forloop.last %}
            </table>
        </div>
    {% endif %}
    {% endfor %}
{% endblock maincontent %}