{% extends "newbase_with_actions.html" %}

{% block actions %}
    <h3>Page actions</h3>    
    <a class="action" href="{% url 'block-new' %}">Add a new block</a>
    {% if blocks %}
        <a class="action" href="{% url 'activity-upload' %}">Upload teaching activities</a>
    {% endif %}
    {% if questions_pending %}
        <a class="action" href="{% url 'admin-approve-choose' %}?pending">Approve questions</a>
    {% endif %}
    {% if questions_flagged %}
        <a class="action" href="{% url 'admin-approve-choose' %}?flagged">View flagged questions</a>        
    {% endif %}
    <a class="action" href="{% url 'quiz-spec-new' %}">Add quiz specification</a>
    <a class="action" href="{% url 'admin-settings-create' %}">Create missing settings</a>
{% endblock actions %}

{% block maincontent %}
    <h1>Administration</h1>
    <h3>Site status</h3>
    <dl class="dl-horizontal">
        <dt>Debug mode</dt><dd>{% if debug_mode %}<strong class="text-danger">ON</strong> (Users will be able to see the details of errors if they occur. No emails are sent to the webmaster.){% else %}<strong class="text-success">OFF</strong> (Users will not be able to see the details of errors when they occur. The webmaster will receive emails containing the details of the errors.){% endif %}</dd>
        <dt>Maintenance mode</dt><dd>{% if maintenance_mode %}<strong class="text-danger">ON</strong> (All users except admins will be displayed a site-maintenance page){% else %}<strong class="text-success">OFF</strong> (Users are able to use the site as normal){% endif %}</dd>
    </dl>
    {% for b in blocks %}
        {% if forloop.first %}
            <h3>Currently active blocks</h3>
            <p>Currently active blocks were either opened/closed this year, or they were released this year.</p>
            <div class="spacer">
                <table class="table">
                    <tr>
                        <th>Stage</th>
                        <th>Block</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Close</th>
                        <th>Edit</th>
                        <th>Admin</th>
                    </tr>
        {% endif %}
        {% if b.is_active %}
            <tr>
                <td>{{ b.stage }}</td>
                <td><a href="{% url 'activity-list' code=b.code year=b.year %}">{{ b.name }}</a></td>
                <td>{{ b.start }}</td>
                <td>{{ b.end }}</td>
                <td>{{ b.close }}</td>
                <td><a href="{% url 'block-edit' code=b.code year=b.year %}">Edit</a></td>
                <td><a href="{% url 'block-admin' code=b.code year=b.year %}">Admin</a></td>
            </tr>
        {% endif %}
        {% if forloop.last %}
                </table>
            </div>
        {% endif %}
    {% empty %}
        <h3>Step 1: Add a block</h3>
        <p>Before you can add any teaching activities, you need to set up a teaching block.</p>
        <p>You can add a new block using the action on the right.</p>
    {% endfor %}

    <h3>Quiz specifications</h3>
    {% for qs in quiz_specifications %}
    {% if forloop.first %}
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Stage</th>
            <th>Details</th>
        </tr>
    {% endif %}
    <tr>
        <td>{{ qs.name }}</td>
        <td>{{ qs.stage }}</td>
        <td><a href="{% url 'quiz-spec-view' slug=qs.slug %}">View</a></td>
    </tr>
    {% if forloop.last %}
    </table>
    {% endif %}
    {% endfor %}

    <h3>Student dashboard settings</h3>
    <p>Click on a setting name to view it or change it.</p>
    {% for setting in student_dashboard_settings %}
        <h4><a href="{% url 'admin-settings-view' pk=setting.pk %}">{{ setting.verbose_name }}</a></h4>
        <p>{{ setting.description|default:"" }}</p>
    {% empty %}
        <p>There are no settings in the database yet.</p>
    {% endfor %}
{% endblock maincontent %}