{% extends "newbase_with_actions.html" %}

{% block actions %}
    <h3>Page actions</h3>    
    <a class="action" href="{% url 'block-new' %}">Add a new block</a>
    {% if blocks %}
        <a class="action" href="{% url 'activity-upload' %}">Upload teaching activities</a>
    {% endif %}
    {% if questions_pending %}
        <a class="action" href="{% url 'admin-approve-choose' %}?pending">Approve questions</a>
    {% endif %}
    {% if questions_flagged %}
        <a class="action" href="{% url 'admin-approve-choose' %}?flagged">View flagged questions</a>        
    {% endif %}
{% endblock actions %}

{% block maincontent %}
    <h1>Administration</h1>
    <h3>Site status</h3>
    <dl class="dl-horizontal">
        <dt>Debug mode</dt><dd>{% if debug_mode %}<strong class="text-danger">ON</strong> (Users will be able to see the details of errors if they occur. No emails are sent to the webmaster.){% else %}<strong class="text-success">OFF</strong> (Users will not be able to see the details of errors when they occur. The webmaster will receive emails containing the details of the errors.){% endif %}</dd>
        <dt>Maintenance mode</dt><dd>{% if maintenance_mode %}<strong class="text-danger">ON</strong> (All users except admins will be displayed a site-maintenance page){% else %}<strong class="text-success">OFF</strong> (Users are able to use the site as normal){% endif %}</dd>
    </dl>
    {% for b in blocks %}
        {% if forloop.first %}
            <h3>Currently active blocks</h3>
            <div class="spacer">
                <table class="table">
                    <tr>
                        <th>Stage</th>
                        <th>Block</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Close</th>
                        <th>Edit</th>
                    </tr>
        {% endif %}
            <tr>
                <td>{{ b.stage }}</td>
                <td>{{ b.name }}</td>
                <td>{{ b.start }}</td>
                <td>{{ b.end }}</td>
                <td>{{ b.close }}</td>
                <td><a href="{% url 'block-edit' pk=b.id %}">Edit</a></td>
            </tr>
        {% if forloop.last %}
                </table>
            </div>
        {% endif %}
    {% empty %}
        <h3>Step 1: Add a block</h3>
        <p>Before you can add any teaching activities, you need to set up a teaching block.</p>
        <p>You can add a new block using the action on the right.</p>
    {% endfor %}

    <h3>Step 2: Upload teaching activities</h3>
    <p>You can upload teaching activities using the action on the right.</p>

    {% for b in blocks %}
        {% if forloop.first %}
            <table class="table">
                <tr>
                    <th>Stage</th>
                    <th>Block</th>
                    <th>Activities assigned</th>
                    <th>Total activities</th>
                    <th>Max users per activity</th>
                    <th>Weeks</th>
                </tr>
        {% endif %}
            <tr>
                <td>{{ b.stage }}</td>
                <td>{{ b.name }}</td>
                <td>{{ b.assigned_activities_count}}</td>
                <td>{{ b.total_activities_count }}</td>
                <td>{{ b.activity_capacity }}</td>
                <td>{{ b.weeks }}</td>
            </tr>
        {% if forloop.last %}
            </table>
        {% endif %}
    {% endfor %}

    <h3>Step 3: Release teaching blocks and notify students</h3>
    <p>Teaching blocks are released based on their start date. You can view the start dates for teaching blocks this year by looking in the table above.</p>
    <p>Students can assign themselves to teaching activities up to and including the end date for that block. After the end date, they will still be able to write questions for their assigned activities.</p>

    <h3>Step 4: Approve questions</h3>
    <p>Approve questions by clicking "Approve questions" in the action panel. You'll need to approve all the questions before you can generate the questions document.</p>
    {% for b in blocks %}
    {% if forloop.first %}
        <div class="spacer">
            <table class="table">
                <tr>
                    <th>Stage</th>
                    <th>Block</th>
                    <th>Approved</th>
                    <th>Pending</th>
                    <th>Flagged</th>
                    <th>Contact participants</th>
                </tr>
    {% endif %}
        <tr>
            <td>{{ b.stage }}</td>
            <td>{{ b.name }}</td>
            <td>{{ b.questions_approved_count}}</td>
            <td>{{ b.questions_pending_count }}</td>
            <td>{{ b.questions_flagged_count }}</td>
            <td><a href="{% url 'email' pk=b.number year=b.year %}">Email</a></td>
        </tr>
    {% if forloop.last %}
            </table>
        </div>
    {% endif %}
    {% endfor %}

    <h3>Step 5: Generate a questions document and email it to students</h3>
    {% for b in blocks %}
    {% if forloop.first %}
        <div class="spacer">
            <table class="table">
                <tr>
                    <th>Stage</th>
                    <th>Block</th>
                    <th>Questions only</th>
                    <th>Questions and answers</th>
                    <th>Release to students</th>
                    <th>Email</th>
                </tr>
    {% endif %}
        <tr>
            <td>{{ b.stage }}</td>
            <td>{{ b.name }}</td>
            <td><a href="{% url 'questions.views.download' pk=b.pk mode='question' %}">Download</a></td>
            <td><a href="{% url 'questions.views.download' pk=b.pk mode='answer' %}">Download</a></td>
            <td><a href="{% url 'release' pk=b.pk %}">Release</a></td>
            <td>{% if b.released %}<a href="{% url 'email' pk=b.number year=b.year %}?document">Email</a>{% endif %}</td>
        </tr>
    {% if forloop.last %}
            </table>
        </div>
    {% endif %}
    {% endfor %}
{% endblock maincontent %}