{% extends "newbase.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}fontello/css/fontello.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}fontello/css/animation.css"><!--[if IE 7]>
    <link rel="stylesheet" href="{{ STATIC_URL }}fontello/css/fontello-ie7.css"><![endif]-->
{% endblock head %}

{% block content %}
{% if teaching_block %}
    <h1>{{ teaching_block }}</h1>
    <p class="lead">You can sign up for activities in this block from {{ teaching_block.start }} until {{ teaching_block.end }}.</p>
    <p class="lead">You will be able to write questions for activities until  {{ teaching_block.close }}</p>
    <p class="lead">The question documents for this block have {% if not teaching_block.released %}not {% endif %}been released{% if not teaching_block.released %} yet{% endif %}.{% if teaching_block.released %} You can download the documents by using the page actions panel.{% endif %}</p>
    <p class="hidden-xs">Click on a week below to see the classes available for that week.</p>
    <p class="visible-xs">Tap on a week below to see the classes available for that week. Tap on a class to assign yourself to it.</p>
    <div class="row col-md-10 spacer">
    {% for w, a, l in object_list %}
    <div class="week{% if teaching_block.by_week and user.student in l.0.question_writers.all %} hidden-xs{% endif %}">
        <div class="week-heading{% if not a %} loading{% endif %} collapse-trigger" data-target="#week-activities-{{ w }}">
            <h3>Week {{ w }}</h3>
            {% if teaching_block.by_activity %}<i class="icon-angle-down"></i>
            <h3 class="pull-right{% if a %} text-success{% endif %} hidden-xs">{% if a %}Classes available{% else %}No classes available{% endif %}</h3>
            {% else %}
            <h3 class="pull-right hidden-xs{% if user.student in l.0.question_writers.all %} text-success{% endif %}">{% if user.student in l.0.question_writers.all %}Assigned{% else %}<a data-url="{% url 'questions.views.signup' ta_id=l.0.id %}">Assign to me</a></h3>
            {% endif %}
            {% endif %}
        </div>
        {% if teaching_block.by_activity %}
        <div class="week-activities collapse in" id="week-activities-{{ w }}">
            {% for t in l %}
            {% if t %}
                <div class="activity {% if t.enough_writers %}hidden-xs{% endif %}">
                    <span class="loading pull-left">{{ t.get_activity_type_display.0 }}</span>&nbsp;
                    <span>{{ t }}</span>
                    <span class="actions hidden-xs">
                        <a class="action" href="{% url 'ta' pk=t.id %}">
                            View
                        </a>
                    </span>
                    <span class="pull-right{% if user.student in t.question_writers.all %} text-success{% else %}{% if t.enough_writers %} loading{% endif %}{% endif %} hidden-xs">
                        {% if user.student in t.question_writers.all %}Assigned{% else %}{% if t.can_sign_up %}{% if t.enough_writers %}Unavailable{% else %}{% if t.has_writers %}<span class="loading"><span class='hidden-xs hidden-sm'>Assigned to {{ t.question_writers.count }}</span></span> {% endif %}<a data-url="{% url 'questions.views.signup' ta_id=t.id %}">Assign to me</a>{% endif %}{% endif %}{% endif %}
                    </span>
                </div>                
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% empty %}
    <p>There are currently no questions in the database.</p>
    {% endfor %}
    </div>
{% else %}
    <h1>View teaching activities</h1>

    {% if perms.questions.approve %}
        <p>There is no teaching block in the database yet, so no teaching activities can be displayed.</p>
        <p class="text-center"><a class='btn btn-large btn-primary' href="{% url 'questions.views.new_ta_upload' %}">Upload teaching activities</a></p>
    {% else %}
        <p>No teaching activities have been added yet.</p>
    {% endif %}
{% endif %}
{% endblock content %}

{% block javascript %}
{% if teaching_block %}
    <script type="text/javascript">
        function unclickable(cls, handler) {
            $(cls).off("click",handler)
        }
        function clickable(cls, handler) {
            $(cls).on("click", handler)
        }
        enquire.register("screen and (max-width: 767px)", {
            match: function () {
                clickable("{% if teaching_block.by_activity %}.activity{% else %}.week{% endif %}", assign)
            },
            unmatch: function () {
                unclickable("{% if teaching_block.by_activity %}.activity{% else %}.week{% endif %}", assign)
            }
        })
        function assign() {
            a = $(this)
            is_mobile = a.attr("data-url") == undefined
            a.addClass("loading")
            if (is_mobile) {
                url = $(this).find(".pull-right a").attr("data-url")
                {% if teaching_block.by_activity %}a.html("Loading..."){% else %}a.find('.week-heading h3').html("Loading"){% endif %}
            } else {
                url = $(this).attr("data-url");
            }
            $.get(url, function (data) {
                switch(data.result) {
                    case "success":
                        if (is_mobile) {
                            a.addClass("text-success")
                            {% if teaching_block.by_activity %}a.html("Assigned"){% else %}a.find('.week-heading h3').html("Assigned"){% endif %}
                            a.removeClass("loading")
                        } else {
                            a.parent().addClass('text-success')
                            a.parent().html("Assigned")
                        }
                        break;
                    case "error":
                        if (!is_mobile) {
                            s = a.parent()
                            tr = s.parent()
                            s.addClass("text-error")
                            a.replaceWith(data.blurb)
                        } else {
                            a.addClass("text-error")
                            a.html(data.explanation)
                            a.removeClass("loading")
                        }
                        break;
                    default:
                        return
                }
            })
        }
        $(document).ready(function () {
            $(".collapse-trigger").each(function () {
                $($(this).attr("data-target")).collapse()

                $(this).click(function () {
                    $($(this).attr("data-target")).collapse("toggle")
                })
            })
            $("div.week a[data-url]").click(assign)
        })
    </script>
{% endif %}
{% endblock javascript %}