{% extends "newbase.html" %}

{% block content %}
	<h1>Dashboard</h1>
	{% if main_feature_text or secondary_feature_text %}
	<div class="row">
		<div class="col-sm-12">
			<div class="dashboard">
				{% if main_feature_text %}<h2>{{ main_feature_text }}</h2>{% endif %}
				{% if secondary_feature_text %}<p class="lead">{{ secondary_feature_text }}</p>{% endif %}
			</div>
		</div>
	</div>
	{% endif %}
	<div class="row">
		<div class="col-sm-4">
			<div class="dashboard">
				<h1>{{ student.current_assigned_activities.count|default:0 }}</h1>
				<p class="lead">activit{% if student.current_assigned_activities.count == 1 %}y{% else %}ies{% endif %} assigned to me</p>
				{% if student.current_assigned_activities.count %}<a class="action" href="{% url "activity-mine" %}">View activities</a>{% else %}{% if block_count %}<a class="action">Choose from available blocks</a>{% else %}<p class="action">Please check back later</p>{% endif %}{% endif %}
			</div>
		</div>
		<div class="col-sm-4">
			<div class="dashboard">
				<h1>{{ block_count}}</h1>
				<p class="lead">block{{ block_count|pluralize }} open for signups</p>
				{% if block_count %}<a class="action" href="{% url "block-list" %}">All blocks</a>{% else %}<p class="action">Please check back later</p>{% endif %}
			</div>
		</div>
		<div class="col-sm-4">
			<div class="dashboard">
					{% if student.latest_quiz_attempt %}
					<h1>{{ student.latest_quiz_attempt.percent_score|floatformat|default:"-" }}%</h1>
					<p class="lead">scored on your last quiz</p>
					<a class="action" href="{% url "quiz-attempt-report" slug=student.latest_quiz_attempt.slug %}">View details</a>
					{% else %}
					<h1>-</h1>
					<p class="lead">No quiz scores available</p>
					<a class="action" href="{% url "quiz-spec" slug=example_quiz_slug %}">Try an example quiz</a>
					{% endif %}
			</div>
		</div>
	</div>
	{% if main_guide_text or secondary_guide_text %}
	<div class="row">
		<div class="col-sm-12">
			<div class="dashboard">
				{% if main_guide_text %}<h2>{{ main_guide_text }}</h2>{% endif %}
				{% if secondary_guide_text %}<p class="lead">{{ secondary_guide_text }}</p>{% endif %}
				<a class="action" href="{% url 'question-guide' %}">View the guide</a>
			</div>
		</div>
	</div>		
	{% endif %}
{% endblock content %}