{% extends "newbase.html" %}

{% block content %}
	<h1>Dashboard</h1>
	<div class="row">
		<div class="col-sm-12">
			<div class="dashboard">
				{% if student.current_assigned_activities.count %}
					<h2>You have {{ student.questions_due_soon_count|default:"no" }} questions due in the next week</h2>
					{% if student.questions_due_soon_count %}
						<p class="lead">Don't forget!</p>
					{% elif student.future_block_count %}
						<p class="lead">Keep writing them though, it's worth it.</p>
					{% else %}
						<p class="lead">There still might be activities that need questions written. Why not take a look?</p>
					{% endif %}
				{% else %}
					<h2>You haven't signed up for any activities yet.</h2>
					{% if block_count %}
						<p class="lead">Why not take a look? It's easier to write questions than you think!</p>
					{% else %}
						<p class="lead">Don't worry, a block will be open soon. In the meantime, you can relax!</p>
					{% endif %}
				{% endif %}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="dashboard">
				<h1>{{ student.current_assigned_activities.count|default:0 }}</h1>
				<p class="lead">activit{% if student.current_assigned_activities.count == 1 %}y{% else %}ies{% endif %} assigned to me</p>
				{% if student.current_assigned_activities.count %}<a class="action" href="{% url "activity-mine" %}">View activities</a>{% else %}{% if block_count %}<a class="action">Choose from available blocks</a>{% else %}<p class="action">Please check back later</p>{% endif %}{% endif %}
			</div>
		</div>
		<div class="col-sm-4">
			<div class="dashboard">
				<h1>{{ block_count}}</h1>
				<p class="lead">block{{ block_count|pluralize }} open for signups</p>
				{% if block_count %}<a class="action" href="{% url "block-list" %}">All blocks</a>{% else %}<p class="action">Please check back later</p>{% endif %}
			</div>
		</div>
		<div class="col-sm-4">
			<div class="dashboard">
					{% if student.latest_quiz_attempt %}
					<h1>{{ student.latest_quiz_attempt.percent_score|floatformat|default:"-" }}%</h1>
					<p class="lead">scored on your last quiz</p>
					<a class="action" href="{% url "quiz-attempt-report" slug=student.latest_quiz_attempt.slug %}">View details</a>
					{% else %}
					<h1>-</h1>
					<p class="lead">No quiz scores available</p>
					<a class="action" href="{% url "quiz-spec" slug=example_quiz_slug %}">Try an example quiz</a>
					{% endif %}
			</div>
		</div>
	</div>
{% endblock content %}