{% extends "base_with_actions.html" %}

{% block head %}
    <style type="text/css">
        td.options-menu {
            border-top-color:rgb(240,240,240);
        }

        td.lead {
            vertical-align: middle;
        }

        .loading {
            opacity: 0.5;
        }

        h1.thin {
            font-weight:200;
        }

        .table th.lead {
            font-weight:200;
        }

        @media (min-width: 1200px) {
            .table td.table-span1, .table th.table-span1 {
                min-width:90px;
            }
        }

        @media (max-width: 1199px) {
            .table td.table-span1, .table th.table-span1 {
                min-width:90px;
            }
        }

        .close {
            font-weight: 200;
        }

        div.week, div.activity {
            border-top:1px solid rgb(240,240,240);
        }

        div.week-activities {
            padding:0 10px;
        }
        div.week-heading {
            font-weight: 200;
            padding:0 10px;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        div.week-heading:hover {
            background-color:rgb(249,249,249);
        }

        div.activity {
            font-size:17.5px;
            padding:10px;
        }
        @media (max-width: 767px) {
            div.activity {
                text-align:center;
            }
        }

        .week-heading .close, .week-heading h3 {
            display:inline-block;
        }

        .week-heading .close {
            font-size:40px;
            line-height:40px;
            font-weight:200;
            margin-top:5px;
        }

        .icon-angle-down {
            width:25px;
            height:25px;
            background-image:none;
        }
    @media (max-width: 767px) {
        .week-heading {
            text-align:center;
        }

        .week:last-of-type {
            border-bottom:1px solid rgb(240,240,240);
        }

        .page-actions {
            margin-top:20px;
        }

        .loading .icon-angle-down {
            opacity:0
        }
    }
    </style>
    <link rel="stylesheet" href="{{ STATIC_URL }}fontello/css/fontello.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}fontello/css/animation.css"><!--[if IE 7]>
    <link rel="stylesheet" href="{{ STATIC_URL }}fontello/css/fontello-ie7.css"><![endif]-->
{% endblock head %}

{% block actions %}
    <h3 class="thin">Page actions</h3>
    <a class="action" href="{% url 'block-list' %}">Choose more activities</a>        
{% endblock actions %}

{% block maincontent %}
    <h1 class="thin">Your teaching activities</h1>
    <div class="row span8 spacer">
    {% for w, l in object_list %}
    {% if forloop.first %}{% endif %}
    <div class="week">
        <div class="week-heading collapse-trigger" data-target="#week-activities-{{ w.id }}">
            <h3 class="thin">{{ w }}</h3>
            <i class="icon-angle-down"></i>
        </div>
        <div class="week-activities collapse in" id="week-activities-{{ w.id }}">
            {% for t in l %}
            {% if t %}
                <div class="activity">
                    <span>{{ t }}</span>
                    <span class="actions hidden-phone pull-right">
                        <a class="action" href="{% url 'ta' pk=t.id %}">
                            View
                        </a>
                    </span>
                </div>                
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% if forloop.last %}{% endif %}
    {% empty %}
    <p>You haven't signed up to any activities yet. You can do this by clicking "Choose more activities" <span class="hidden-phone">to the right</span><span><span class="visible-phone">below</span></span>.</p>
    {% endfor %}
    </div>
{% endblock maincontent %}


{% block javascript %}
   <script type="text/javascript">
        function unclickable(cls, handler) {
            $(cls).off("click",handler)
        }
        function clickable(cls, handler) {
            $(cls).on("click", handler)
        }
        function go () {
            a = $(this)
            document.location.href = a.find("a.action").attr("href")
        }
        enquire.register("screen and (max-width: 767px)", {
            match: function () {
                clickable(".activity", go)
            },
            unmatch: function () {
                unclickable(".activity", go)
            }
        })
        $(document).ready(function () {
            $(".collapse-trigger").each(function () {
                $($(this).attr("data-target")).collapse()

                $(this).click(function () {
                    $($(this).attr("data-target")).collapse("toggle")
                })
            })
        })
    </script>
{% endblock javascript %}