{% extends "base.html" %}

{% block content %}
    <h1 class="thin">Add a new teaching activity</h1>
    <div class="row spacer">
    <form class="form-horizontal" method="post">
        <div class="row">
            {% csrf_token %}
            {% include "form.html" %}
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn">Cancel</button>
        </div>
    </form>
    </div>
{% endblock content %}