{% extends "base-no-nav-early-javascript.html" %}
{% load numeric %}

{% block head %}
    <link href="{{ STATIC_URL }}medbank/fullPage/jquery.fullPage.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}medbank/fontello/css/fontello.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}medbank/fontello/css/animation.css"><!--[if IE 7]>
    <link rel="stylesheet" href="{{ STATIC_URL }}medbank/fontello/css/fontello-ie7.css"><![endif]-->
    <style type="text/css">
    .controlArrow {
        display:none;
    }

    form .btn {
        float:left;
    }

    .btn-option {
        width: 40px;

    }
    .section {
        padding-top:20px;
        padding-bottom:80px;
    }

    .section .scroller {
        overflow-x:hidden;
        overflow-y:auto;
        height:100%
    }

    .timer {
        position:fixed;
        top:30px;
        right:30px;
        vertical-align:middle;
        z-index:1000;
    }
    .timer h1 {
        display:inline-block;
        margin:0;
        margin-right:10px;
    }
    .timer button {
        position:relative;
        top:3px;
        width:80px;
    }

    .nav-down {
        position:fixed;
        bottom:30px;
        left:0px;
        width:100%;
        text-align:center;
        vertical-align:middle;
        z-index:1000;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none; 
    }

    .question-indicator {
        display:inline-block;
        position:relative;
        margin:0 10px;
        top:5px;
    }

    .finish {
        position:fixed;
        width:100%;
        height:100%;
        z-index:1100;
        display:none;
    }

    .finish .content {
        position:absolute;
        padding-top:100px;
        text-align:center;
        width:100%;
        height:100%;
    }

    .questions {
        position:fixed;
        width:100%;
        height:100%;
        display:none;
        z-index:1100;
    }

    .questions .content {
        width:100%;
        height:100%;
        -webkit-column-gap: 20px;
        -webkit-column-width: 50px;
        padding:50px 100px;
    }

    .explanation {
        position:fixed;
        width:100%;
        height:100%;
        display:none;
        z-index:1100;
    }

    .explanation .content {
        width:100%;
        height:100%;
        -webkit-column-gap: 20px;
        -webkit-column-width: 50px;
        padding:50px 100px;
    }

    .questions ol {
        list-style-type: none;
        width:50px;
        padding:0;
    }

    .questions ol li {
        display:list-item;
        margin-bottom:5px;
        -webkit-column-break-inside: avoid;
    }

    .questions .buttons {
        position:absolute;
        bottom:30px;
        width:100%;
        left:0;
        text-align:center;
    }

    .canvas {
        position:absolute;
    }
    /*#canvas {
        position:relative;
        top:-100px;
    }*/
    </style>
{% endblock head %}

{% block before %}
    {% if not report %}
    <div class="timer">
        <h1 class="pull-left">00:00</h1> <button class="btn btn-default pull-right">Pause</button>
    </div>
    {% endif %}
    <div class="nav-down">
        {% if report %}        
            <button class="btn btn-default btn-summary" type="button">Show summary</button>
        {% endif %}
        <button class="btn btn-default btn-previous" type="button">Previous question</button>
        <h3 class="question-indicator">Question <span class="question-number">-</span> of {{ object_list|length }}</h3>
        <button class="btn btn-default btn-next" type="button">Next question</button>
        <button class="btn btn-default btn-progress" type="button">Show questions</button>
        {% if not report %}<button class="btn btn-default btn-finish" type="button">Finish</button>{% endif %}
        {% if report %}<button class="btn btn-default btn-home" type="button">Home</button>{% endif %}
    </div>
    <div class="finish">
        <div class="content">
            <div class="container nosection">
                <h1>Are you sure you want to finish?</h1>
                <h2 class="text-info">You still have <span class="question-remaining">{{ object_list|length }}</span> question<span class="plural">{{ object_list|length|pluralize }}</span> remaining!</h2>
                <p>If you're completely sure, you can submit your answers below. Otherwise, you can return to the quiz and keep on going!</p>
                <button type="button" class="btn btn-default btn-return">Return</button>
                <button type="button" class="btn btn-success btn-submit">Submit</button>
            </div>
        </div>
    </div>
    <div class="questions">
        <div class="content">
            <ol>
                {% for q in object_list %}
                    <li class="btn btn-default" data-question="{{ forloop.counter }}" {% if report %}data-type="{% if q.choice == q.answer %}success{% else %}danger{% endif %}"{% endif %}>{{ forloop.counter }}</li>   
                {% endfor %}
            </ol>
        </div>
        <div class="buttons">
            <button class="btn btn-default btn-close" type="button">Close</button>
        </div>
    </div>
{% endblock before %}

{% block content %}
    <div>
    {% if report %}
        <div class="section first">
            <form data-question="0"></form>
            <h1>Your results</h1>
            <h2 class="text-success">You answered {{ number_correct }} question{{ number_correct|pluralize }} correctly out of {{ object_list|length }}</h2>
            <ul>
            {% for b, q in by_block.iteritems %}
                <li>{{ b }}: {{ q.number_correct }} correct out of {{ q.questions|length }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% for q in object_list %}
        <div class="section{% if forloop.last %} last{% endif %}{% if forloop.first and not report %} first{% endif %}">
            <div class="scroller">
            <h2>Question {{ forloop.counter }}{% if report %} - {{ q.teaching_activity.current_block.number }}.{{ q.teaching_activity.week|stringformat:"02d" }}: {{ q.teaching_activity.name }}{% endif %}</h2>
            <div class="lead">{{ q.body_html }}</div>
            <form data-question="{{ forloop.counter }}" data-question-id="{{ q.id }}" class="form-horizontal">
                <div class="question-options">
                {% for x, y in q.options_dict.iteritems %}
                    <div class="form-group">
                        <div class="col-md-offset-1">
                            <button type="button" class="btn {% if x == q.choice %}{% if q.choice == q.answer %}btn-success{% else %}btn-danger{% endif %}{% elif report and x == q.answer %}btn-success{% else %}btn-default btn-option{% endif %}" data-option="{{ x }}">
                                {% if x == q.choice %}
                                    {% if q.choice == q.answer %}
                                    <i class="glyphicon glyphicon-ok pull-right" style="line-height:20px;top:-1px;"></i>
                                    {% elif report %}
                                    <i class="glyphicon glyphicon-remove pull-right" style="line-height:20px;top:-1px;"></i>
                                    {% endif %}
                                {% elif report and x == q.answer %}
                                    <i class="glyphicon glyphicon-ok pull-right" style="line-height:20px;top:-1px;"></i>
                                {% else %}
                                    {{ x }}
                                {% endif %}
                            </button>
                            <span style="margin-left:45px;line-height:20px;display:block;padding:7px 12px;vertical-align:middle;">{{ y }}</span>
                        </div>
                    </div>
                {% endfor %}
                </div>
                <br>
                <div class="lead">
                How confident are you in your answer?
                    {% for value, text in confidence_range %}
                    {% if forloop.first %}
                        <div class="btn-group confidence-widget">
                    {% endif %}
                        <button type="button" class="btn btn-default" data-confidence="{{value}}">{{ text }}</button>
                    {% if forloop.last %}
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </form>
            {% if report %}
                {% if not q.choice %}
                    <p class="text-danger">You didn't answer this question.</p>
                {% endif %}
                <button class="btn btn-default btn-explanation" type="button">View explanation</button>
                <div class="explanation">
                    <div class="content">
                        <p>{{ q.explanation }}</p>
                    </div>
                </div>
            {% endif %}
        </div>
        </div>
    {% endfor %}
    {% if not report %}
    <form action="{% url 'quiz-submit' %}" method="post" class="summary-form">
        {% csrf_token %}
        {% for q in object_list %}
            <input type="hidden" name="question" value="{{ q.id }}" />
            <input type="hidden" name="question-{{ q.id }}-answer" value="" />
            <input type="hidden" name="question-{{ q.id }}-position" value="{{ forloop.counter }}" />
            <input type="hidden" name="question-{{ q.id }}-time-taken" value="" />
            <input type="hidden" name="question-{{ q.id }}-confidence-rating" value="" />
        {% endfor %}
    </form>
    {% endif %}
</div>
{% endblock content %}

{% block javascript %}
    <script src="{{ STATIC_URL }}medbank/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}medbank/fullPage/jquery.fullPage.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}questions/screen.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}questions/quiz.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            quiz = new Questions.Quiz({{ report|default:"false"|lower }});
            {% if not report %}quiz.start();{% endif %}
        });
    </script>
{% endblock javascript %}