{% extends "base-no-nav-early-javascript.html" %}
{% load range from custom_filters %}

{% block head %}
<style type="text/css">
    html, body {
        overflow:hidden;
    }

    form .btn {
        float:left;
    }

    .no-margin {
        margin:0;
    }

    .btn-option {
        width: 40px;
    }

    .question-indicator {
        display:inline-block;
        position:relative;
        margin:0 10px;
        top:5px;
    }

    .centre-of-parent {
        display: block;
        vertical-align:middle;
        position:relative;
        width:100%;
        top:50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
    }

    .question-options span {
        margin-left:45px;
        line-height:20px;
        display:block;
        padding:7px 12px;
        vertical-align:middle;
    }

    .nav-down {
        position:fixed;
        bottom:30px;
        left:0px;
        width:100%;
        text-align:center;
        vertical-align:middle;
        z-index:1000;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none; 
    }

    .loading-screen {
        position:absolute;
        z-index:20;
        height:100%;
        width:100%;
        top:0;
        left:0;
    }

    @-webkit-keyframes throbber {
        0% {
            color: #333;
        }
        33% {
            color: #ccc;
        }
        100% {
            color: #ccc;
        }
    }

    .throbber .icon-throb {
        display: inline-block;
        -webkit-animation: throbber 1s .08s infinite linear;
        font-size: 14px;
        color: #ccc;
    }

    .throbber .icon-throb:nth-child(2) {
        -webkit-animation-delay: .16s;
    }

    .throbber .icon-throb:nth-child(3) {
        -webkit-animation-delay: .24s;
    }

    .error-message {
        display:none;
    }

    .btn-option .glyphicon {
        line-height:20px;
        top:-1px;
        color:#ffffff;
    }

    .explanation {
        position:absolute;
        width:100%;
        height:100%;
        display:none;
        z-index:1100;
        overflow:scroll;
        top:0;
        left:0;
    }

/*    .explanation .content {
        display:inline-block;
        vertical-align: middle;
        position:relative;
        width:100%;
        top:50%;
        transform: translateY(-50px);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
    }

*/    .explanation .buttons {
        position:absolute;
        bottom:30px;
        width:100%;
        left:0;
        text-align:center;
        z-index:1100;
    }

    .timer {
        position:fixed;
        top:30px;
        right:30px;
        vertical-align:middle;
        z-index:1000;
    }
    .timer h1 {
        display:inline-block;
        margin:0;
        margin-right:10px;
    }
    .timer button {
        position:relative;
        top:3px;
        width:80px;
    }
    </style>
{% endblock head %}

{% block before %}
    <div class="nav-down">
        <button class="btn btn-default btn-previous" type="button">Previous question</button>
        <h3 class="question-indicator">Question <span class="current-question-number">1</span> of <span class="total-question-number">{{ object.questions.count }}</span></h3>
        <button class="btn btn-default btn-next" type="button">Next question</button>
        <button class="btn btn-default btn-home" type="button">Back to dashboard</button>
    </div>
{% endblock before %}

{% block content %}
    <div class="row section">
        <div class="col-sm-12 centre-of-parent">
            <h1>{{ object.quiz_specification.name }}</h1>
            <p class="lead">You scored a total of {{ object.score }} out of {{ object.quiz_specification.number_of_questions }}.</p>
            <p class="lead">This quiz has been attempted {{ object.quiz_specification.attempts.count }} time{{ object.quiz_specification.attempts.count|pluralize }}. The highest score for this quiz so far is {{ object.quiz_specification.highest_score }}, whilst the lowest score so far is {{ object.quiz_specification.lowest_score }}. The average score so far is {{ object.quiz_specification.average_score|floatformat }}.</p>
            <div class="text-center">
                <button type="button" class="btn btn-primary btn-start">View details</button>
            </div>
        </div>
    </div>
    {% for attempt in object.questions_in_order %}
    {% with forloop.counter as n %}
    <div class="row section">
        <div class="col-xs-12" style="height:100%">
            <div class="question-screen">
                <h1 style="display:inline-block;">Question {{ n }}</h1>
                {% if not attempt.answer %}
                <p style="display:inline-block;" class="lead text-danger question-unanswered no-margin">You did not answer this question.</p>
                {% endif %}
                <form data-question="{{ n }}" class="form-horizontal">
                    <div class="lead question-body">{{ attempt.question.body }}</div>
                    <div class="question-options">
                    {% if attempt.incorrect_answer %}
                        <div class="form-group">
                            <div class="col-xs-offset-1">
                                <button type="button" class="btn btn-danger btn-option btn-no-hover">{{ attempt.incorrect_answer.option }}</button><span>(Your answer) {{ attempt.incorrect_answer.value }}</span>
                            </div>
                        </div>
                    {% endif %}
                        <div class="form-group">
                            <div class="col-xs-offset-1">
                                <button type="button" class="btn btn-success btn-option btn-no-hover">{{ attempt.correct_answer.option }}</button><span>{% ifequal attempt.answer attempt.correct_answer.option %}(Your answer) {% endifequal %}{{ attempt.correct_answer.value }}</span>
                            </div>
                        </div>
                    </div>
                    <p class="lead">
                        {% if attempt.get_confidence_rating_display_second_person.lower %}You said that {{ attempt.get_confidence_rating_display_second_person.lower }}. {% endif %}Most people answering this question said that {{ attempt.get_average_confidence_rating_display.lower }}.
                    </p>
                    <p class="lead">This question was answered correctly {{ attempt.question.percent_success_rate|floatformat }}% of the time.</p>
                    <div class="buttons btn-group">
                        <button class="btn btn-default btn-explanation" type="button">View explanation</button>
                        <button class="btn btn-default btn-view" type="button" onclick="window.open('{% url 'view' ta_id=attempt.question.teaching_activity_year.id pk=attempt.question.id %}', '_blank');">View question page</button>
                    </div>
                </form>
            </div>
            <div class="explanation" data-question="{{ n }}">
                <div class="content centre-of-parent">
                    <div class="container nosection">
                        <p class="lead explanation-body">{{ attempt.question.explanation }}</p>
                    </div>
                </div>
                <div class="buttons">
                    <button class="btn btn-default btn-close" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endwith %}
    {% endfor %}
{% endblock content %}

{% block javascript %}
    <script src="{{ STATIC_URL }}medbank/jquery.cookie.js"></script>
    <script src="{{ STATIC_URL }}medbank/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}questions/csrf.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}questions/globals.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}questions/screen.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}questions/timer.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}questions/scroller.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}questions/widget.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}questions/quiz.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // csrf.protect();
            // quiz = new Questions.IndividualQuiz({
            //     number_of_questions: {{ number_of_questions }},
            //     individual_question_url: "{% url 'quiz-question' %}",
            //     question_number_selector: "current-question-number",
            //     quiz_attempt_url: "{% url 'quiz-generate-attempt' %}",
            //     question_attempt_url: "{% url 'quiz-question-submit' %}",
            //     specification: "{{ specification.slug }}",
            // });
            report = new Questions.IndividualQuizReport({
                home_url: "{% url 'dashboard' %}",
            });
        });
    </script>
{% endblock javascript %}
