{% extends "base-no-nav-early-javascript.html" %}

{% block head %}
    {% comment %}<link href="{{ STATIC_URL }}medbank/fullPage/jquery.fullPage.css" rel="stylesheet" media="screen">{% endcomment %}
    <link rel="stylesheet" href="{{ STATIC_URL }}medbank/fontello/css/fontello.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}medbank/fontello/css/animation.css"><!--[if IE 7]>
    <link rel="stylesheet" href="{{ STATIC_URL }}medbank/fontello/css/fontello-ie7.css"><![endif]-->
    <style type="text/css">
    html, body {
        overflow:hidden;
    }
    .controlArrow {
        display:none;
    }
    .finish {
        position:fixed;
        width:100%;
        height:100%;
        z-index:100;
        display:none;
        overflow:scroll;
    }

    .finish .content {
        display:block;
        vertical-align: middle;
        position:relative;
        width:100%;
        top:50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
    }

    .centre-of-parent {
        display: block;
        vertical-align:middle;
        position:relative;
        width:100%;
        top:50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
    }

    .years button {
        margin-right:3px;
        margin-bottom:3px;
    }

    .btn-next {
        cursor:pointer;
    }

    </style>
{% endblock head %}

{% block before %}
    {% for o in object_list %}
        <div class="finish" data-block="{{ o.number }}">
            <div class="content">
                <div class="container nosection">
                    <div class="text-center col-xs-12">
                    <h1>{{ o.name }}</h1>
                    </div>
                    <form class="form-horizontal block-form" id="form-{{ o.number }}" role="form">
                        <div class="form-group">
                            <label class="control-label col-sm-5">Number of questions</label>
                            <div class="col-sm-2">
                                <input name="question_count" type="text" pattern="[0-9]*" class="form-control question_count" />
                                <span class="text-danger questions-error">Please enter a number.</span>
                                <span class="text-danger number-error">Please enter a number larger than 0.</span>
                                <span class="text-danger number-size-error">Please enter a number smaller than 1000.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-5">Years to pick from</label>
                            <div class="col-sm-7 years">
                                {% for y in o.block.years.all %}<button type="button" class="btn btn-default" name="year-{{ y.year }}" data-checked="">{{ y.year }}</button>{% endfor %}
                                <br />
                                <span class="text-danger year-error">Please choose some years.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-5 col-sm-7">
                                <button type="submit" class="btn btn-primary">Add</button>
                                <button type="button" class="btn btn-default btn-cancel">Back</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock before %}

{% block content %}
    <div class="row section active">
        <div class="col-sm-12 text-center centre-of-parent">
            <h1>Test yourself</h1>
            <p class="lead">Click the button below to begin</p>
            <button type="button" class="btn btn-primary btn-next" onclick="">Start</button>
        </div>
    </div>
    <div class="row section">
        <div class="col-sm-12 text-xs-center">
            <h1>Pick blocks</h1>
            <div class="blocks">
            {% for o in object_list %}
                <div class="week" data-block="{{ o.number }}">
                    <div class="week-heading">
                        <h3>{{ o.name }}</h3>
                    </div>
                </div>
            {% endfor %}
            <br />
            <a class="btn btn-primary btn-next btn-continue">Continue</a>
            </div>
        </div>
    </div>
    <div class="row section">
        <div class="centre-of-parent text-center">
            <h1 class="summary">Summary</h1>
            <div class="summaries">
            </div>
            <button type="button" class="btn btn-primary btn-load" style="margin-right:40px;">Start</button><button type="button" class="btn btn-default btn-reset">Reset</button>
            <form method="get" action="{% url 'quiz-prepare' %}" class="submit-form"></form>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
    <script src="{{ STATIC_URL }}medbank/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}questions/screen.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}questions/scroller.js"></script>
    <script type="text/javascript">
        var block_details = [];
        var to_hide = null;
        var base_questions_url = "{% url 'quiz'%}";

        function clear_form () {
            to_hide.hide()
            to_hide.find(".years button").each(function () {
                $(this).attr("data-checked", "")
                $(this).toggleClass("btn-success btn-default")
            })
            to_hide.find(".question_count").val("")
            to_hide = null;
        };

        function summary_element (block, n, years) {
            $el = $("<p></p>").addClass("lead")
            y = ""
            if (years.length == 1) {
                y = years[0]
            } else {
                if (years.length > 2) {
                    $.each(years.slice(0, years.length - 2), function (i, yy) {
                        y += (yy + ", ");
                    })
                }
                y += (years[years.length - 2]) + " and " + (years[years.length -1])
            }
            sentence = block + ": " + n + " question"
            if (n !== 1) {
                sentence += "s"
            }
            sentence += " from " + y
            $el.text(sentence)
            return $el
        };

        function validate (f) {
            ret = true;
            $q = $f.find(".question_count")
            $qe = $f.find(".questions-error")
            $ne = $f.find(".number-error")
            $ns = $f.find(".number-size-error")
            var numbers = /^[0-9]+$/
            if (!$q.val().match(numbers) || isNaN(parseInt($q.val()))) {
                ret = false;
                $qe.show();
                $ne.hide();
                $ns.hide();
            } else if (parseInt($q.val()) <= 0) {
                $qe.hide();
                ret = false;
                $ne.show();
                $ns.hide();
            } else {
                $qe.hide();
                $ne.hide();
                if (parseInt($q.val()) > 1000) {
                    $ns.show();
                    ret = false;
                }
            }
            years = false;
            $f.find(".years button").each(function () {
                if ($(this).attr('data-checked')) {
                    years = true;
                }
            })
            $ye = $f.find(".year-error")
            if (years == false) {
                ret = false;
                $ye.show()
                //alert("Please select a year")
            } else {
                $ye.hide()
            }
            return ret
            }

        function reset () {
            block_details = [];
            to_hide = null;
            $(".summaries").html("")
            $(".blocks div").each(function () {
                $t = $(this)
                $t.find(".glyphicon").hide()
                $t.find(".icon-angle-right").show()
                $t.find(".week-heading").removeClass("text-success")
            })
            $(".btn-continue").hide();
            scroller.back()
        }

        function get_questions() {
            var url = base_questions_url;

            url += "?";

            $.each(block_details, function (i, b) {
                if (i > 0) {
                    url += "&";
                }
                url += "block=" + b["block"];
                url += "&block_" + b["block"] + "_question_number=" + b["numberOfQuestions"];
                $.each(b["years"], function (j, y) {
                    url += "&block_" + b["block"] + "_year=" + y
                })
            });

            $(".load").attr("href", url)
            $(".load").loadingbar({
                success: function(data, text, xhr) {
                    alert(data)
                }
            })
            $(".load").click()
        }

        $(document).ready(function () {
            block_attribute = "data-block";
            blocks = [];
            $(".blocks .week").each(function () {
                blocks.push($(this).attr(block_attribute));
            });
            $(".week-heading").click(function () {
                if ($(this).hasClass("text-success")) {
                    return false;
                };
                n = $(this).parent().attr('data-block');
                splash_screen.show(n);
            })

            container_selector = ".container.main"
            screen_selector = ".container.main .section";
            active_class = "active"

            options = {
                container_selector: container_selector,
                screen_selector: screen_selector,
                active_class: active_class,
                active_screen_selector: screen_selector + "." + active_class,
                transition_class: "pre-blur",
            }

            scroller = new Questions.PageScroller(options);
            splash_screen = new Questions.SplashScreenManager({
                screen_selector: ".finish", 
                specifying_attribute: "data-block",
                attributes: blocks,
                to_hide: [container_selector, ],
            });

            $(".btn-next").click(function () {
                scroller.forward();
            });
            $(".btn-cancel").click(function () {
                splash_screen.hide($(this).parents(".finish").attr("data-block"));
            });
            $(".year-error").hide();
            $(".questions-error").hide();
            $(".number-error").hide();
            $(".number-size-error").hide();
            $(".btn-continue").hide();
            $(".btn-reset").click(function () { reset() });
            $(".btn-load").click(function() {
                $(".submit-form").submit()
            })
            $(".years button").click(function () {
                $b = $(this)
                $b.toggleClass("btn-success btn-default")
                if ($b.hasClass("btn-success")) {
                    $b.attr("data-checked", "checked")
                } else {
                    $b.attr("data-checked", "")
                }
            })
            $(".block-form").submit(function (e) {
                e.preventDefault();
                $f = $(this)
                if (!validate($f)) {
                    return false;
                }
                selected_years = []

                $f.find(".years button").each(function () {
                    if ($(this).attr('data-checked')) {
                        selected_years.push(parseInt($(this).attr('name').split("-")[1]))
                    }
                })
                details = {
                    block: parseInt($f.attr("id").split("-")[1]),
                    numberOfQuestions: parseInt($f.find(".question_count").val()),
                    years: selected_years,
                }
                block_details.push(details)
                to_hide = $f
                $("div[data-block=" + details["block"] + "]").find(".glyphicon").show()
                $("div[data-block=" + details["block"] + "]").find(".icon-angle-right").hide()
                $("div[data-block=" + details["block"] + "]").find(".week-heading").addClass("text-success")
                $(".btn-continue").show()
                $(".summaries").append(
                    summary_element(
                        $("div[data-block=" + details['block'] + "] div h3").html(),
                        details['numberOfQuestions'],
                        details['years']
                    )
                )
                $(".submit-form").append('<input type="hidden" name="block" value="' + details["block"] + '">');
                $(".submit-form").append('<input type="hidden" name="block_' + details["block"] + '_question_number" value="' + details["numberOfQuestions"] + '">');
                $.each(details["years"], function (i, y) {
                    $(".submit-form").append('<input type="hidden" name="block_' + details["block"] + '_year" value="' + y + '">');
                })

                splash_screen.hide($(this).parents(".finish").attr(block_attribute));
            })
        });
    </script>
{% endblock javascript %}