{% extends "base_with_actions.html" %}
{% load custom_filters %}

{% block actions %}{% if not object.question_writer or object.question_writer == user.student and not object.questions.count >= max_questions %}
        <h3 class="thin">Page actions</h3>    
    {% endif %}{% if not object.question_writer %}
        <a class="action" href="{% url 'questions.views.signup' ta_id=object.id %}">Assign to me</a>        
    {% endif %}{% if object.question_writer == user.student and not object.questions.count >= max_questions %}
        <a class="action" href="{% url 'new' ta_id=object.id %}">Write{% if object.questions.count %} more {% else %} {% endif %}questions</a>
    {% endif %}
{% endblock actions %}


{% block maincontent %}
    <h1 class="thin">{{ object.name }} ({{ object.current_block.number }}.{{ object.week|stringformat:"02d" }})</h1>
    <p>Block: {{ object.current_block }}</p>
    {% if not object.question_writer %}
        <p>Nobody has assigned themselves to write questions for this activity yeobject.</p>
    {% endif %}
    {% if object.question_writer == user.student %}
        {% if object.questions.count == max_questions %}
            Thankyou, you've given us enough questions for this teaching activity!
        {% else %}
            You have {{ max_questions|subtract:object.questions.count }} question{{ max_questions|pluralize }} left to write.
        {% endif %}
    {% else %}
    {% endif %}
    {% for q in object.questions.all %}
    {% if forloop.first %}
    <table class="table questions spacer">
        <thead>
            <tr>
                <th class="lead">Question</th>
                <th class="lead hidden-phone">Status</th>
                <th class="lead actions"><div class="text-center">Actions</div></th>
            </tr>
        </thead>
    {% endif %}
    <tr>
        <td class="question-body">{{ q.body }}</td>
        <td class="hidden-phone"><div class="{% if q.pending %}text-warning{% else %}text-success{% endif %}">{{ q.get_status_display }}</div></td>
        <td class="actions">
            <div class="text-center">
            <a class="action" href="{% url 'view' ta_id=object.id pk=q.id %}{% if perms.questions.can_approve %}?show{% endif %}">View</a>{% if q.creator == user.student %}
            <a class="action" href="{% url 'edit' ta_id=object.id pk=q.id %}">Edit</a>                
            {% endif %}
            </div>
        </td>
    </tr>
    {% if forloop.last %}
    </table>
    {% endif %}
    {% empty %}
    <p>No questions have been submitted for this teaching activity yet.</p>
    {% endfor %}
    {% if object.question_writer == user.student %}
        <p>You can edit questions until they have been approved.</p>
    {% endif %}
{% endblock maincontent %}
