{% extends "newbase_with_actions.html" %}
{% load custom_filters %}

{% block head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}medbank/fontello/css/fontello.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}medbank/fontello/css/animation.css"><!--[if IE 7]>
    <link rel="stylesheet" href="{{ STATIC_URL }}medbank/fontello/css/fontello-ie7.css"><![endif]-->
{% endblock head %}

{% block actions %}
    {% questions_left user=user activity=object as remaining %}
    {% questions_list_by_year user=user activity=object as question_list %}
    {% if not object.enough_writers and user.student not in object.question_writers.all and object.current_block.can_sign_up or user.student in object.question_writers.all and object.current_block.can_write_questions or user.is_superuser or user.student in object.question_writers.all and not has_written_questions %}
        <h3>Page actions</h3>    
    {% endif %}{% if not object.enough_writers and user.student not in object.question_writers.all and object.current_block.can_sign_up %}
        <a class="action" href="{% url 'questions.views.signup' ta_id=object.id %}">Assign to me</a>        
    {% endif %}{% if user.student in object.question_writers.all and object.current_block.can_write_questions or user.is_superuser %}
        <a class="action" href="{% url 'new' ta_id=object.id %}">Write questions</a>
    {% endif %}{% if user.student in object.question_writers.all and not has_written_questions %}
        <a class="action" href="{% url 'activity-unassign' pk=object.id %}">Unassign from me</a>
    {% endif %}
{% endblock actions %}


{% block maincontent %}
    {% questions_left user=user activity=object as remaining %}
    {% questions_list_by_year user=user activity=object as question_list %}
    <h1>{% if object.current_block.by_activity %}{{ object.get_activity_type_display }} - {% endif %}{{ object.name }} ({{ object.current_block.code }}.{{ object.week|stringformat:"02d" }})</h1>
    <p>Block: {{ object.current_block }}</p>
    {% if not object.has_writers %}
        <p>Nobody has assigned themselves to write questions for this activity.</p>
    {% elif not object.enough_writers and user.student not in object.question_writers.all %}
        <p><strong>{{ object.question_writers.count }} {% if object.question_writers.count == 1 %}person has{% else %}people have{% endif %} assigned themselves to this question.</strong></p>
    {% endif %}
    {% if user.student in object.question_writers.all %}
        {% if remaining %}
            <p>You ha{% if not object.current_block.has_closed %}ve{% else %}d{% endif %} {{ remaining }} question{{ remaining|pluralize }} left to write.
        {% else %}
            <p>Thankyou! You've given us enough questions for this teaching activity, but there's no limit to how many you can submit.
        {% endif %}
    {% endif %}
    Questions for this activity {% if object.current_block.has_closed %}were{% else %}are{% endif %} due by {{ object.current_block.close }}.</p>
    <div class="spacer">
    <input type="hidden" value="{{ can_view_questions }}" />
    {% if can_view_questions %}
    {% for y, qq in question_list.iteritems %}
    <div class="week">
        <div class="week-heading collapse-trigger" data-target="#week-activities-{{ y }}">
            <h3>{{ y }}</h3>
            <i class="icon-angle-down"></i>
            <h3 class="pull-right{% if a %} text-success{% endif %} hidden-xs">{{ qq|length }} question{{ qq|pluralize }}</h3>
        </div>
        <div class="week-activities collapse in" id="week-activities-{{ y }}">
            {% for q in qq %}
                <div class="activity">
                    <span class="body">{{ q.body }}</span>
                    <span class="actions pull-right text-right">
                        <span class="visible-desktop">
                        <span class="text-{% if q.approved %}success{% elif q.pending %}warning{% elif q.flagged %}{% if perms.questions.can_approve %}info{% else %}warning{% endif %}{% endif %}">{% if q.flagged and not perms.questions.can_approve %}Pending{% else %}{{ q.latest_approval_record.get_status_display|default:"Pending" }}{% endif %}</span>
                        <a class="action view" href="{% url 'view' pk=q.id ta_id=object.id %}{% if perms.questions.can_approve %}?show{% endif %}">
                            View
                        </a>
                        <a class="action" href="{% url 'edit' pk=q.id ta_id=object.id %}">
                            Edit
                        </a>
                    </span>
                    </span>
                    <div class="clearfix"></div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% if forloop.last %}{% endif %}
    {% empty %}
    <p>There are currently no questions in the database.</p>
    {% endfor %}
    {% else %}
    <p>You cannot currently view questions for this block.</p>
    <p>You can view questions from previous years by writing questions for this year. You can only view questions from this year once you have written questions and the block has been released on MedBank.</p>
    {% endif %}
    </div>
{% endblock maincontent %}

{% block javascript %}
    <script type="text/javascript">
        function go_to_question() {
            location.href = $(this).find(".view").attr("href")
        }
        function unclickable(cls, handler) {
            $(cls).off("click",handler)
        }
        function clickable(cls, handler) {
            $(cls).on("click", handler)
        }
        enquire.register("screen and (max-width: 767px)", {
            match: function () {
                clickable(".activity", go_to_question)
            },
            unmatch: function () {
                unclickable(".activity", go_to_question)
            }
        })
        $(document).ready(function () {
            $(".collapse-trigger").each(function () {
                $($(this).attr("data-target")).collapse()
                $(this).click(function () {
                    $($(this).attr("data-target")).collapse("toggle")
                })
            })
        })
    </script>
{% endblock javascript %}
