MySQL-python==1.2.5
Django<1.8
docx==0.2.0
lxml==3.2.1
html2text==3.200.3
markdown2==2.2.0
wsgiref==0.1.2
flup==1.0.3.dev-20110405
South
django-maintenancemode==0.10
python-dateutil==2.2
python-mimeparse==0.1.4
django-tastypie==0.11.0
django-post_office
django-impersonate==0.9.0
premailer
beautifulsoup4
