{% extends "newbase.html" %}
{% load custom_filters %}

{% block content %}
{% if current_year %}
    <h1><a href="{{ current_year.get_activity_display_url }}">{{ current_year }}</a></h1>
{% else %}
    <h1>{{ teaching_block.name }}</h1>
{% endif %}
    <p><strong>Available years:</strong> {% for block_year in teaching_block.years.all %}{% if not forloop.first %} | {% endif %}{% if not block_year == current_year %}<a href="{{ block_year.get_admin_url }}">{% endif %}{{ block_year.year }}{% if not block_year == current_year %}</a>{% endif %}{% endfor %}{% if new_year_required %}{% if teaching_block.years.all %} | {% endif %} <a href="{{ teaching_block.get_new_year_creation_url }}">Create for {% now "Y" %}</a>{% endif %}</p>

{% if current_year %}
    <h2>Writing periods</h2>
    <p>Displayed below are the details for all of the stages which have access to {{ teaching_block.name }} for {{ current_year.year }}. You can edit the details, or remove the access so the students no longer have access to this block for {{ current_year.year }}.</p>
    <p><a href="{% url 'block-admin-period-new' code=teaching_block.code year=current_year.year %}">Add a new question writing period</a></p>

{% for writing_period in current_year.writing_periods.all %}
    <h3>{{ writing_period.stage }}</h3>
    <p><a href="{{ writing_period.get_edit_url }}">Edit this writing period</a></p>
    <p><a href="{{ writing_period.get_activity_upload_url }}">Click here</a> to upload{% if number_activities_assigned %} more{% endif %} activities for this writing period.</p>
    <p><strong>Signup period:</strong> {{ writing_period.start }} to {{ writing_period.end }}</p>
    <p><strong>Signup limit:</strong> {{ writing_period.activity_capacity }} {{ writing_period.activity_capacity|plural:"student" }} per activity.</p>
    <p><strong>Question writing deadline:</strong> {{ writing_period.close }}</p>

    <p><strong>Assigned activities:</strong> {{ writing_period.assigned_activities_count }}/{{ writing_period.total_activities_count }}</p>
    <p><strong>Total users signed up:</strong> {{ writing_period.assigned_users_count }}</p>
    <p><strong>Number of questions written:</strong> {{ writing_period.total_questions_count }}</p>
{% endfor %}
{% else %}
    <p>This block has not run in any years. You can create it for {% now "Y" %} by clicking the link above.</p>
{% endif %}
{% endblock content %}