{% extends "newbase.html" %}

{% block content %}
    <h1>Choose a block</h1>
    <div class="row col-md-10 spacer">
    {% for block_year in object_list %}
        <div class="week">
            <div class="week-heading">
                <span class="h3" style="display:inline-block;"><a href="{{ block_year.get_activity_display_url }}">{{ block_year.block.name }}, {{ block_year.year }}</a></span>
            </div>
        </div>
    {% empty %}
        <p>There are currently no blocks available.</p>
    {% endfor %}
    </div>
{% endblock content %}