{% extends "newbase.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}medbank/datepicker3.css">
{% endblock head %}

{% block content %}
    <h1>Add a new teaching block</h1>
    {% include "includes/form.html" %}
{% endblock content %}

{% block javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}medbank/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        function init() {
            $("input.date-input").datepicker({
                format: "dd/mm/yyyy",
                autoclose: true,
                todayHighlight: true,
            });
        }

        $(document).ready(function () {
            init()
        })
    </script>
{% endblock javascript %}