{% extends "newbase.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}medbank/css/datepicker3.css">
{% endblock head %}

{% block content %}
    <h1>{% if object %}Edit a{% else %}Add a new{% endif %} teaching block</h1>
{% if object %}
    {% include "includes/form.html" with return_button_url=object.get_admin_url return_button_text="Back to admin" %}
{% else %}
    {% include "includes/form.html" %}
{% endif %}
{% endblock content %}

{% block javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}medbank/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        function init() {
            $("input.date-input").datepicker({
                format: "dd/mm/yyyy",
                autoclose: true,
                todayHighlight: true,
            });
        }

        $(document).ready(init);
    </script>
{% endblock javascript %}