{% extends "newbase.html" %}

{% block head %}
{% include "block/display_week_css.html" %}
{% endblock head %}

{% block content %}
	<h1>Block {{ teaching_block.code }}: {{ teaching_block.name }}</h1>

    <p><span class="visible-xs-inline">Tap</span><span class="hidden-xs">Click</span> on a week below to see the classes available for that week. <span class="visible-xs-inline">Tap</span><span class="hidden-xs">Click</span> on a class to view more information, or click on the link next to it to assign it to yourself for approval.</p>

	{% for week in weeks %}
	{% include "approval/display_week.html" %}
	{% empty %}
	<p>There are currently no more activities with unassigned questions.</p>
	{% endfor %}
{% endblock content %}

{% block javascript %}
{% include "block/display_week_javascript.html" %}
{% endblock javascript %}