{% extends "newbase.html" %}


{% block content %}
	<div class="row">
		<div class="col-sm-12">
			<h1>Question Approval</h1>
			<h2>How do I select the questions I want to approve?</h2>
			<p>Click on the "Approve" tab in the navigation bar at the top of the page to get to the Approval Dashboard.. Then choose a block from the list and choose the teaching activity that you want to approve.</p>
			<h2>How do I actually approve the questions?</h2>
			<p>Click on the "Approve" table in the navigation bar at the top of the page to go to the Approval Dashboard. Scroll down and press the button "Approve questions".</p>
			<h2>Which questions do I approve and which do I edit and which do I flag?</h2>
			<p><strong>Edit</strong> the question if there is a spelling error that is easy to rectify.</p>
			<p><strong>Flag</strong> a question if
				<ol>
					<li>It has more than one correct answer</li>
					<li>All the answers are incorrect</li>
					<li>The explanation is unclear</li>
				</ol>
			</p>
			<p><strong>Approve</strong> a question if there is no need to edit or flag it.</p>
			<p><strong>If a question is really good</strong> then it is probably suitable for a model quiz, or to be sent to the Faculty. If this is the case, click "Edit Attributes", check the box and click "Save".</p>
			<h2>I don't want to do this! It will take me ages!</h2>
			<p>No, approving should not take ages. Don't spend more than 5 minutes on one question. If you are unsure, flag the question. You don't need to rewrite the question. The question will be sent back to the person who wrote it, and he/she will rewrite it.</p>
		</div>
	</div>
{% endblock content %}