{% extends "newbase.html" %}


{% block content %}
	<h1>Approval Dashboard</h1>
	<div class="row">
		<div class="col-sm-12">
			<div class="dashboard">
				<h2>You don't have any more questions assigned to you.</h2>
				<p class="lead">Why not take a look to see if there are any left?</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="dashboard">
				<h1>2</h1>
				<p class="lead">blocks with pending questions.</p>
				<a class="action" href="{% url 'admin-approve-choose' %}">Assign questions to me</a>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="dashboard">
				<h1>5</h1>
				<p class="lead">questions left to approve.</p>
				<a class="action" href="{% url 'admin-approve-assigned-start' %}?assigned">Approve questions</a>
			</div>
		</div>
	</div>
{% endblock content %}