{% extends "newbase.html" %}


{% block content %}
	<div class="row">
		<div class="col-sm-12">
			<h1>Question Approval</h1>
			<h2>How do I select the questions I want to approve?</h2>
			<p>Click on the "Approve" tab in the navigation bar at the top of the page to get to the Approval Dashboard.. Then choose a block from the list and choose the teaching activity that you want to approve.</p>
			<h2>How do I actually approve the questions?</h2>
			<p>Click on the "Approve" table in the navigation bar at the top of the page to go to the Approval Dashboard. Scroll down and press the button "Approve questions".</p>
			<h2>Which questions do I approve and which do I edit and which do I flag?</h2>
			<p><strong>Edit</strong> the question if there is a spelling error that is easy to rectify.</p>
			<p><strong>Flag</strong> a question if
				<ol>
					<li>It has more than one correct answer</li>
					<li>All the answers are incorrect</li>
					<li>The explanation is unclear</li>
				</ol>
			</p>
			<p><strong>Approve</strong> a question if there is no need to edit or flag it.</p>
			<p><strong>If a question is really good</strong> then it is probably suitable for a model quiz, or to be sent to the Faculty. If this is the case, click "Edit Attributes", check the box and click "Save".</p>
			<h2>I don't want to do this! It will take me ages!</h2>
			<p>No, approving should not take ages. Don't spend more than 5 minutes on one question. If you are unsure, flag the question. You don't need to rewrite the question. The question will be sent back to the person who wrote it, and he/she will rewrite it.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<h1>Question Approval</h1>
			<p>Here you'll find information about how to approve questions, as well as what you should be doing when you approve a question.</p>

			<h2>How do I approve questions?</h2>
			<ol>
				<li>Get access from the admin (<a href="mailto:mhag1577@uni.sydney.edu.au">Michael</a>). You've already done this since you can view this page.</li>
				<li>Familiarise yourself with the guidelines for approving questions. These will gradually become more complete as Michael gets his act together.</li>
				<li>Assign yourself to a group of questions.
					<ol>
						<li>Click "Assign questions to me" from the approval dashboard.</li>
						<li>Choose a block from the list.</li>
						<li>A page will appear with a list of teaching activities from which you can choose. Assign yourself to approve some activities of your choice. You can see which activities are already assigned for approval.</li>
					</ol>
				</li>
				<li>Once you have activities assigned for approval, click "Approve questions" on the dashboard to start approving questions.</li>
				<li>Read through the question, the options, the answer and the explanation. Decide if the question meets the guidelines listed below.
					<ul>
						<li><strong>Only delete a question if it is a duplicate of another question</strong></li>
						<li><strong>If the question meets the guidelines</strong> click "Approve question" under the admin functions on the right hand side of the page (or at the bottom of the page if your screen is too small).</li>
						<li><strong>If the question blatantly does not meet the guidelines</strong>, skip it for now.</li>
						<li><strong>If the question contains a small error</strong> like a spelling mistake, or something which doesn't involve a change in content, you can edit it yourself, providing a reason, and then approve the question. These will usually be things which don't follow the style guidelines.</li>
						<li><strong>If you aren't sure</strong> then click "Flag for review" and explain why you can't decide.</li>
					</ul>
				</li>
				<li>You can approve, edit, delete, flag or skip a question based on the rules above.</li>
				<li>Repeat steps 5 and 6 <em>ad infinitum</em> (or <em>ad nauseam</em>, depending on how you see it).
			</ol>

			<h3>Some extra things to keep in mind when approving questions.</h3>
			<p>There is a button on the question approval page which says "Edit attributes". This adds extra notes to questions which may be required in certain cases..</p>
			<p><strong>Some questions may require special formatting to be displayed.</strong> If this is the case, then set the relevant attribute. This is mentioned below for superscript or subscript, but applies to anything which isn't displaying very nicely. Michael will look at these and fix them up if needed.</p>
			<p><strong>Exceptional questions may be worth sending to the Faculty or used in a model quiz.</strong> You can use your judgement to decide if a question is good enough and set the attribute as required.</p>

			<h2>Guidelines</h2>
			<h3>Content</h3>
			<p>Michael is receiving advice from the Assessment Unit before he completes this section.</p>
			<p><strong>Questions must have one, and only one, most correct answer</strong>. Whilst the other options may contain correct information, they must not be completely correct. There must be one question which is obviously more correct than the others.</p>
			<p><strong>In general, the content for a question should only be related to the teaching activity for which it was written.</strong> PBLs are allowed to contain questions which span multiple teaching activities for that week.</p>
			<p><strong>Explanations should contain enough information to be able to figure out the answer with only a basic science background</strong>. Users must write an explanation for the answer, and this is enforced by the system. They should also (but don't have to) explain why the other answers are incorrect.</p>
			{% comment %}<p><strong>Explanations must not refer to powerpoint slides or make any other reference to lecture resources (such as notes)</strong>. We cannot guarantee over a number of years that the old lecture resources will remain available, so the explanation must not rely on them. If the answer is an obvious, non-contentious fact contained in any reputable textbook, then the explanation should simply say so.</p>{% endcomment %}
			<p><strong>Do not spend endless hours fact-checking questions</strong>. It is important that the question is correct, but it does not need to be correct down to the last detail. Part of the beauty of MedBank is that students can contribute to the process of improving questions over time. If a question or explanation is correct except for one small detail, approve it. If a question is completely wrong, then it is contrary to the guidelines. <strong>A good rule of thumb is to spend five minutes maximum per question</strong></p>

			<h3>Style</h3>
			<p>This part of the guide is all about consistency of presentation, as well as ensuring that every single person who answers the question can understand it compeletely and fully. <strong>A stylistically correct question should be easily understandable, so that only a person's knowledge of the content is required to comprehend and answer it.</strong></p>
			<p>Note that the format for explanations is currently changing. You may encounter explanations which were written before the change in format (where it was a free text field, and not linked to question options). If this is the case, don't worry, just approve the question (if everything else is compatible with the guidelines, of course).</p>
			<p><strong>Questions need to be written in grammatically correct English</strong>. This includes the correct usage of terms such as your and you're; two, too and to; they're, their and there; and so on. They should also be written with correct spelling and punctuation.</p>
			<p><strong>If a question is written in a "complete the statement" style, the answers should make sense</strong>. Each option should complete the sentence in an understandable and grammatically correct way. <strong>This means that every option should end with a full stop</strong>. For example:
				<div class="well">
					The ending of this question
					<ol class="alpha">
						<li>does not make sense.</li>
						<li>makes complete sense.</li>
						<li>is irrelevant.</li>
						<li>is not obvious.</li>
						<li>always completes the sentence.</li>
					</ol>
				</div>
			Every option for this question completes the stem in a way which makes sense (ignoring the fact that it does not have an obvious answer). Every option finishes with a full stop, and the stem does not have any punctuation at the end.
			</p>
			<p><strong>Abbreviations should not be used without first being defined</strong>. This is non-negotiable, and includes all acronyms for diseases, chemical symbols, drug names, and <strong>any other acronym or shorthand notation which is used</strong>. The term should be used in full for the first mention, with the abbreviation defined in brackets. For example:
				<div class="well">
					Chronic obstructive pulmonary disease (COPD), sodium (Na), serotonin (5-HT) and acetylcholine (ACh) are all valid definitions of abbreviations. Every following mention can then use COPD, Na, 5-HT or ACh.
				</div>
			<strong>Abbreviations should also be consistent with the commonly used abbreviation in the literature</strong>.
			</p>
			<p><strong>Please remove any symbols trying to denote superscript or subscript notation</strong>. Superscript and subscript are going to be added features in the future. If there is an underscore (<code>_</code>) or a caret (<code>^</code>) used to denote subscript or superscript respectively, please delete it by editing the question. Then, click "Edit Attributes" and check the box about requiring subscript or superscript. For example, 5-HT_1 is not appropriate (representing 5-HT<sub>1</sub>), please change it to 5-HT1.</p>
		</div>
	</div>
{% endblock content %}