<h1>
	{% if collapse_mode and form %}
		<a class="collapse-trigger" data-quiz="custom">
	{% endif %}
		Create a custom quiz
	{% if collapse_mode and form %}
		</a>		
	{% endif %}
</h1>
<p>If you don't want to choose a preset quiz, you're able to create one yourself.</p>
{% if form %}
<div class="collapse{% if form.was_checked %} in{% endif %}" data-quiz="custom">
    <p>Please choose from the blocks below. Next to each block, type the number of questions you would like to be quizzed on. <strong>You can choose up to 80 questions in total.</strong></p>
    <p>If you don't want to be tested on a block, don't put a number in it.</p>
    {% include "quiz/display_quiz_selection_form.html" with selection_form=form %}
</div>
{% else %}
<p>Unfortunately you don't have access to any individual blocks yet so you are unable to create a custom quiz.</p>
{% endif %}
