<div class="finish splash-screen">
    <div class="content">
        <div class="container nosection text-center centre-of-parent">
            <h1>Are you sure you want to finish?</h1>
            <h2 class="text-info">You still have <span class="questions-remaining">{{ questions|length }}</span> question<span class="plural">{{ questions|length|pluralize }}</span> remaining!</h2>
            <p>If you're completely sure, you can submit your answers below. Otherwise, you can return to the quiz and keep on going!</p>
            <button type="button" class="btn btn-default btn-return">Return</button>
            <button type="button" class="btn btn-success btn-submit">Submit</button>
		    <form action="{% url 'quiz-submit' %}" method="post" class="summary-form">
		        {% csrf_token %}
		        {% if specification %}<input type="hidden" name="specification" value="{{ specification.slug }}" />{% endif %}
		        {% if attempt %}<input type="hidden" name="attempt" value="{{ attempt.slug }}" />{% endif %}
		    </form>
        </div>
    </div>
</div>
