<div class="loading-screen text-center">
    <div class="centre-of-parent">
        <div class="loading-message">
            <h1>Loading...</h1>
            <div class="throbber">
                <i class="glyphicon glyphicon-minus icon-throb"></i>
                <i class="glyphicon glyphicon-minus icon-throb"></i>
                <i class="glyphicon glyphicon-minus icon-throb"></i>
            </div>
        </div>
        <div class="error-message">
            <h1>Uh oh...</h1>
            <p class="lead">Something's gone wrong, but don't worry, we've sent an email to the admins.</p>
            <p class="lead">This may be a one-off error, so go back and try again in a couple of moments.</p>
        </div>
    </div>
</div>
