<div class="question-screen{% if not summary_mode and not classic_mode %} blur{% endif %}">
    <h1 style="display:inline-block;">Question {{ question_number }}</h1>
    {% if not classic_mode %}
    {% if not summary_mode or not attempt.answer %}
        <p style="display:inline-block;" class="lead text-danger question-unanswered no-margin">You did not answer this question.</p>
    {% endif %}
    {% endif %}
    <form data-question="{{ question_number }}" class="form-horizontal">
        <div class="lead question-body">{% if summary_mode %}{{ question.body }}{% endif %}</div>
        <div class="question-options">
        {% if summary_mode %}
        {% if attempt.incorrect_answer %}
            <div class="form-group">
                <div class="col-xs-offset-1">
                    <button type="button" class="btn btn-danger btn-option btn-no-hover">{{ attempt.incorrect_answer.option }}</button><span>(Your answer) {{ attempt.incorrect_answer.value }}</span>
                </div>
            </div>
        {% endif %}
            <div class="form-group">
                <div class="col-xs-offset-1">
                    <button type="button" class="btn btn-success btn-option btn-no-hover">{{ attempt.correct_answer.option }}</button><span>{% ifequal attempt.answer attempt.correct_answer.option %}(Your answer) {% endifequal %}{{ attempt.correct_answer.value }}</span>
                </div>
            </div>
        {% endif %}
        </div>
    {% if summary_mode %}
        <p class="lead">
            {% if attempt.get_confidence_rating_display_second_person.lower %}You said that {{ attempt.get_confidence_rating_display_second_person.lower }}. {% endif %}{% if attempt.get_confidence_rating_display_second_person %}Most people answering this question said that {{ attempt.get_average_confidence_rating_display.lower }}.{% endif %}
        </p>
        {% if attempt.question.percent_success_rate %}
            <p class="lead">This question was answered correctly {{ attempt.question.percent_success_rate|floatformat }}% of the time.</p>
        {% else %}
            <p class="lead">Nobody has answered this question correctly so far.</p>
        {% endif %}
    {% else %}
        <br>
        <div class="lead">
            How confident are you in your answer?
            {% for value, text in confidence_range %}
            {% if forloop.first %}
            <div class="btn-group confidence-widget">
            {% endif %}
                <button type="button" class="btn btn-default" data-confidence="{{value}}">{{ text }}</button>
            {% if forloop.last %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    {% if not classic_mode %}
        <div class="buttons btn-group">
            <button class="btn btn-default btn-explanation" type="button">View explanation</button>
            <button class="btn btn-default btn-view" type="button"{% if summary_mode %} onclick="window.open('{% url 'view' ta_id=attempt.question.teaching_activity_year.id pk=attempt.question.id %}', '_blank');"{% endif %}>View question page</button>
        </div>
    {% endif %}
    </form>
</div>