{% extends "base-no-nav-early-javascript.html" %}
{% load range from custom_filters %}

{% block viewport %}{% endblock viewport %}

{% block head %}
<style type="text/css">
    html {
        overflow:scroll;
        height:100%;
        width:100%;
    }

    body {
        position:relative;
        overflow:hidden;
        min-height: 600px;
        min-width: 950px;
        height:100%;
        width:100%;
        padding-bottom:0;
    }

    form .btn {
        float:left;
    }

    .no-margin {
        margin:0;
    }

    .btn-option {
        width: 40px;
    }

    .question-indicator {
        display:inline-block;
        position:relative;
        margin:0 10px;
        top:5px;
    }

    .centre-of-parent {
        display: block;
        vertical-align:middle;
        position:relative;
        max-height:100%;
        width:100%;
        top:50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
    }

    .question-options span {
        margin-left:45px;
        line-height:20px;
        display:block;
        padding:7px 12px;
        vertical-align:middle;
    }

    .nav-down {
        position:absolute;
        bottom:0;
        width:100%;
        height:60px;
        text-align:center;
        vertical-align:middle;
        z-index:1000;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none; 
    }

    .loading-screen {
        position:absolute;
        z-index:20;
        height:100%;
        width:100%;
        top:0;
        left:0;
    }

    @-webkit-keyframes throbber {
        0% {
            color: #333;
        }
        33% {
            color: #ccc;
        }
        100% {
            color: #ccc;
        }
    }

    .throbber .icon-throb {
        display: inline-block;
        -webkit-animation: throbber 1s .08s infinite linear;
        font-size: 14px;
        color: #ccc;
    }

    .throbber .icon-throb:nth-child(2) {
        -webkit-animation-delay: .16s;
    }

    .throbber .icon-throb:nth-child(3) {
        -webkit-animation-delay: .24s;
    }

    .error-message {
        display:none;
    }

    .btn-option .glyphicon {
        line-height:20px;
        top:-1px;
        color:#ffffff;
    }

    .splash-screen {
        position:absolute;
        width:100%;
        height:100%;
        display:none;
        z-index:1100;
        overflow:scroll;
        top:0;
        left:0;
    }

    .splash-screen .content {
        display:block;
        vertical-align:middle;
        width:100%;
        height:100%;
        padding-bottom:70px;
        overflow-y:scroll;
    }

    .splash-screen .buttons {
        position:absolute;
        bottom:0;
        width:100%;
        left:0;
        text-align:center;
        padding:20px 0;
        background-color:rgba(255,255,255,0.8);
    }

    .timer {
        position:absolute;
        top:30px;
        right:30px;
        vertical-align:middle;
        z-index:1000;
    }
    .timer h1 {
        display:inline-block;
        margin:0;
        margin-right:10px;
    }
    .timer button {
        position:relative;
        top:3px;
        width:80px;
    }

    .container.main {
        height:100%;
        width:100%!important;
    }

    .row.section {
        height:100%;
        padding-bottom:70px;
    }

    .lead {
        font-size:21px;
    }

/*    .questions {
        position:fixed;
        width:100%;
        height:100%;
        display:none;
        z-index:1100;
    }
*/
    .questions .columns {
        -webkit-column-gap: 20px;
        -webkit-column-width: 50px;
    }

    .questions ol {
        list-style-type: none;
        width:50px;
        padding:0;
    }

    .questions ol li {
        display:list-item;
        margin-bottom:5px;
        -webkit-column-break-inside: avoid;
    }
    </style>
{% endblock head %}

{% block before %}
    {% if not summary_mode %}
        <div class="timer">
            <h1 class="pull-left">00:00</h1> <button class="btn btn-default pull-right">Pause</button>
        </div>        
    {% endif %}
    <div class="nav-down">
        <button class="btn btn-default btn-previous" type="button">Previous question</button>
        <h3 class="question-indicator">Question <span class="current-question-number">1</span> of <span class="total-question-number">{% if summary_mode %}{{ questions|length }}{% else %}-{% endif %}</span></h3>
        <button class="btn btn-default btn-next" type="button">Next question</button>
        {% if classic_mode %}<button class="btn btn-default btn-progress" type="button">Show progress</button>{% endif %}
        {% if not summary_mode %}<button class="btn btn-default btn-finish" type="button">Finish</button>{% endif %}
        {% if summary_mode %}<button class="btn btn-default btn-home" type="button">Back to dashboard</button>{% endif %}
    </div>
    {% if not classic_mode %}
    {% for attempt in questions %}
    <div class="explanation splash-screen" data-question="{{ forloop.counter }}">
        <div class="content">
            <div class="container nosection centre-of-parent">
                <p class="lead explanation-body">{% if summary_mode %}
                    {% if attempt.question.explanation_dict %}
                    <ol class="alpha lead">
                    {% for option, answer in attempt.question.explanation_dict.iteritems %}
                        <li {% if not answer %}class="loading"{% endif %}>{{ answer|default:"Explanation was not provided."}}</li>
                    {% endfor %}
                    </ol>
                    {% else %}{{ attempt.question.explanation|linebreaksbr }}{% endif %}
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="buttons">
            <button class="btn btn-default btn-close" type="button">Close</button>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% if classic_mode %}
    {% include "quiz/finish.html" %}
    {% include "quiz/question_list.html" with report=summary_mode %}
    {% endif %}
{% endblock before %}

{% block content %}
    <div class="row section">
        <div class="col-sm-12{% if not summary_mode %} text-center{% endif %} centre-of-parent">
        {% if classic_mode %}
        {% include "quiz/loading_screen.html" %}
        {% endif %}
        {% if summary_mode %}
            <h1>{{ object.quiz_specification.name|default:"Custom quiz" }}</h1>
            {% if not object.complete %}<p style="display:inline-block;" class="lead text-danger question-unanswered no-margin">This quiz was not completed.</p>{% endif %}
            <p class="lead">You scored a total of {{ object.score }} out of {{ object.questions.count }}.</p>
            {% if object.quiz_specification %}
                <p class="lead">This quiz has been attempted {{ object.quiz_specification.attempts.count }} time{{ object.quiz_specification.attempts.count|pluralize }}. The highest score for this quiz so far is {{ object.quiz_specification.highest_score }}, whilst the lowest score so far is {{ object.quiz_specification.lowest_score }}. The average score so far is {{ object.quiz_specification.average_score|floatformat }}.</p>
            {% else %}
                <p class="lead">This was a custom quiz, so we can't let you know how everybody else did, unfortunately.</p>
            {% endif %}
            <div class="text-center">
                <button type="button" class="btn btn-primary btn-start">View details</button>
                <a type="button" class="btn btn-default" href="{% url 'quiz-choose' %}">Back to quiz home</a>
            </div>
        {% else %}
            <div class="start-screen{% if classic_mode %} blur{% endif %}">
                <h1>Start quiz</h1>
                <p class="lead">Click the button below to begin</p>
                <button type="button" class="btn btn-primary btn-start">Start</button>
            </div>
        {% endif %}
        </div>
    </div>
    {% for attempt in questions %}
    {% with forloop.counter as n %}
    <div class="row section">
        <div class="col-xs-12" style="height:100%">
            {% if not summary_mode and not classic_mode %}
            {% include "quiz/loading_screen.html" %}
            {% endif %}
            {% if summary_mode %}
            {% include "quiz/question_screen.html" with question_number=n summary_mode=summary_mode attempt=attempt question=attempt.question confidence_range=confidence_range %}
            {% else %}
            {% include "quiz/question_screen.html" with question_number=n summary_mode=summary_mode classic_mode=classic_mode question=attempt.question confidence_range=confidence_range %}
            {% endif %}
        </div>
    </div>
    {% endwith %}
    {% endfor %}
{% endblock content %}

{% block javascript %}
    <script src="{{ STATIC_URL }}medbank/jquery.cookie.js"></script>
    <script src="{{ STATIC_URL }}medbank/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}questions/csrf.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}questions/globals.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}questions/screen.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}questions/timer.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}questions/scroller.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}questions/widget.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}questions/quiz.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            {% if summary_mode %}
            report = new Questions.IndividualQuizReport({
                home_url: "{% url 'dashboard' %}"
            });
            {% elif classic_mode %}
            quiz = new Questions.ClassicQuiz({
                number_of_questions: {{ questions|length }},
                individual_question_url: "{% url 'quiz-question' %}",
                // question_number_selector: "current-question-number",
                // quiz_attempt_url: "{% url 'quiz-generate-attempt' %}",
                // question_attempt_url: "{% url 'quiz-question-submit' %}",
                specification: "{{ specification.slug }}",
                attempt: "{{ attempt.slug }}",
                {% if attempt %}initial_quiz_attempt: "{{ attempt.slug }}",{% endif %}

            });
            {% else %}
            csrf.protect();
            quiz = new Questions.IndividualQuiz({
                number_of_questions: {{ questions|length }},
                individual_question_url: "{% url 'quiz-question' %}",
                question_number_selector: "current-question-number",
                quiz_attempt_url: "{% url 'quiz-generate-attempt' %}",
                question_attempt_url: "{% url 'quiz-question-submit' %}",
                specification: "{{ specification.slug }}",
                {% if attempt %}initial_quiz_attempt: "{{ attempt.slug }}",{% endif %}
            });
            {% endif %}
        });
    </script>
{% endblock javascript %}