{% extends "newbase.html" %}

{% block content %}
	<h1>Quiz report: {{ quiz_attempt.quiz_specification.name|default:"Custom quiz"}}</h1>
	<p><strong>Number of questions:</strong> {{ quiz_attempt.questions.count }}</p>
	<p><strong>Your score:</strong> {{ quiz_attempt.score }}</p>
	<p><strong>Quiz started:</strong> {{ quiz_attempt.date_submitted }}</p>
	{% if quiz_attempt.complete %}
	<p><strong>Quiz completed:</strong> {{ quiz_attempt.date_completed }}</p>
	{% else %}
		<p><strong>You haven't finished this quiz. You can finish it by <a href="{{ quiz_attempt.get_resume_url }}">clicking here</a>.</strong></p>		
	{% endif %}
	<p>You asked to view answers {{ quiz_attempt.get_quiz_type_display|lower }}.</p>

	<h2>Your answers</h2>
	<p>Click the question number to view it's individual question page on MedBank.</p>
{% for question_attempt in quiz_attempt.questions_in_order %}
	<h3>{% if question_attempt.date_completed %}<a href="{{ question_attempt.question.get_absolute_url }}">Question {{ forloop.counter }}</a>{% else %}Question {{ forloop.counter }}{% endif %} <small>{% if not question_attempt.date_completed %}<span class="loading">Incomplete</span>{% elif question_attempt.score %}<span class="text-success">Correct</span>{% elif not question_attempt.answer %}<span class="text-warning">Unanswered</span>{% else %}<span class="text-warning">Incorrect</span>{% endif %}</small></h3>
	<p class="lead">{{ question_attempt.question.body|linebreaksbr }}</p>
{% if question_attempt.date_completed %}
	<p>
		<strong>Your answer:</strong>
	{% if question_attempt.student_choice %}
		{{ question_attempt.student_choice.option }}. {{ question_attempt.student_choice.value}}
	{% else %}
		You did not answer this question.
	{% endif %}
	</p>
	{% if question_attempt.student_choice %}{{ question_attempt.student_choice.explanation }}{% endif %}
	{% if not question_attempt.score %}
	<p><strong>Correct answer:</strong> {{ question_attempt.correct_answer.option }}. {{ question_attempt.correct_answer.value}}</p>
	{{ question_attempt.correct_answer.explanation }}
	{% endif %}
{% endif %}
{% endfor %}
{% endblock content %}