{% extends "newbase.html" %}

{% block content %}
    <h1>Something isn't adding up here...</h1>
    <p class="lead text-center">An unexpected error occurred, but don't worry, the admins have been emailed. Please wait a moment and try again.</p>
    <p><img class="img-responsive center-block" src="http://2.bp.blogspot.com/_D_Z-D2tzi14/S84ewspTMCI/AAAAAAAAC08/8QwB5QhhAVU/s400/ER16.png"></img></p>
    <p class="lead text-center">Looking for something to do in the meantime? Have you <a target="_blank" href="http://gabrielecirulli.github.io/2048/">played 2048</a> yet?</p>
{% endblock content %}