<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% block viewport %}<meta name="viewport" content="width=device-width, initial-scale=1.0">{% endblock viewport %}
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SUMS MedBank</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}medbank/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}medbank/css/bootstrap-custom.css" rel="stylesheet" media="screen">
    {% block basehead %}{% endblock basehead %}
    {% block head %}
      <style type="text/css">
        .starter-template {
          padding: 40px 15px;
          text-align: center;
        }
      </style>
    {% endblock head %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="{{ STATIC_URL }}medbank/js/jquery-1.10.0.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ STATIC_URL }}medbank/js/bootstrap.min.js"></script>
    <!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
    <script src="{{ STATIC_URL }}medbank/js/respond.min.js"></script>
    {% block javascript %}{% endblock javascript %}
  </head>

  <body>
    {% block nav %}{% endblock nav %}
    {% block alert %}
      {% for m in messages %}
        <div class="alert{% if m.tags %} alert-{{ m.tags}}{% endif %}{% if forloop.last%} last{% endif %}{% if forloop.first and forloop.last %} {% endif %}{% if forloop.first %}first{% endif %}">
            {{ m }}
        </div>
      {% endfor %}
      <hr>
    {% endblock alert %}
    {% block before %}{% endblock before %}
    <div class="container main">
      {% block content %}
        <div class="starter-template">
          <h1>SUMS MedBank</h1>
          <p class="lead">MedBank is a peer-reviewed database of practice exam questions written by students in the Sydney Medical Program.</p>
          <div class="col-md-4 col-md-offset-4">
            <a class="btn btn-lg btn-primary btn-block" href="{% url 'dashboard' %}">Start writing questions</a>
            <a class="btn btn-lg btn-default btn-block" href="{% url 'create_user' %}">I don't have an account yet</a>
          </div>
        </div>
      {% endblock content %}
    </div><!-- /.container -->
  </body>
</html>
