{% for fs in form.fieldsets %}
	<fieldset id="{{ fs.auto_id }}">
		<legend>{{ fs.legend }}</legend>
		{% for f in fs %}
			{% if form.is_horizontal or is_horizontal %}
			{% include "field.html" with is_horizontal=1 %}
			{% else %}
				{% if form.is_inline %}
					{% include "field.html" with is_inline=1 %}
				{% endif %}
			{% endif %}
		{% endfor %}
	</fieldset>	
{% empty %}
	{% for f in form %}
		{% if form.is_horizontal or is_horizontal %}
			{% include "field.html" with is_horizontal=1 %}
		{% else %}
			{% if form.is_inline %}
				{% include "field.html" with is_inline=1 %}
			{% endif %}
		{% endif %}	
	{% endfor %}
{% endfor %}
