{% extends "base-no-nav.html" %}

{% block basehead %}
      <style type="text/css">
      html {
        position:relative;
        min-height:100%;
      }

      body {
          padding-top:70px;
          margin-bottom:60px;
      }
      .alert.first {
        margin-top:-19px;
      }
      .footer {
        border-top:1px solid #d5d5d5;
        position:absolute;
        bottom: 0;
        width: 100%;
        height:60px;
      }

      .footer .container .text-muted {
        margin-top:20px;
        text-align:center;
      }
    </style>
{% endblock basehead %}

{% block nav %}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'medbank-home' %}">SUMS MedBank</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          {% if not user.is_anonymous %}
            <li><a href="{% url 'dashboard' %}">Home</a></li>
            <li><a href="{% url 'quiz-home' %}">Quiz</a></li>
            {% if user.is_superuser %}<li><a href="{% url 'admin' %}">Admin</a></li>{% endif %}
            {% if perms.questions.can_approve %}<li><a href="{% url 'approve-home' %}">Approve</a></li>{% endif %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% if user.is_impersonate %}
            <li><a href="{% url 'impersonate-stop' %}">Stop impersonating</a></li>              
            {% endif %}
          {% endif %}
          </ul>
          {% if not user.is_anonymous %}
            <p class="navbar-text pull-right hidden-xs">Welcome, {{ user.username }} {% if user.student.get_current_stage %}({{ user.student.get_current_stage }}){% if user.is_impersonate %} (actually {{ impersonator }}){% endif %}{% endif %}</p>
          {% endif %}
        </div><!--/.nav-collapse -->
      </div>
    </div>
{% endblock nav %}

{% block content %}
  <div class="starter-template">
    <h1>SUMS MedBank</h1>
    <p class="lead">MedBank is a peer-reviewed database of practice exam questions written by students in the Sydney Medical Program.<br>
      <a class="btn btn-large btn-primary" style="margin-bottom:15px;" href="{% url 'dashboard' %}">Log on to MedBank</a><br>
      <a type="button" class="btn btn-large" href="{% url 'create_user' %}">I don't have an account yet</a></p>
  </div>
{% endblock content %}

{% block footer %}
  <div class="footer">
    <div class="container">
      <p class="text-muted">Need some help? You can <a href="mailto:mhag1577@uni.sydney.edu.au">email the administrator.</a></p>
    </div>
  </div>
{% endblock footer %}