{% extends "base-no-nav.html" %}

{% block head %}
      <style type="text/css">
      .starter-template {
        padding: 40px 15px;
        text-align: center;
      }
    </style>
{% endblock head %}

{% block nav %}
  <div class="container">
    <div class="header">
      <h1 class="text-muted" style="font-weight:500;">SUMS MedBank</h3>
    </div>
    <div>
      <span class='actions nav'>
      <a class="action" href="{% if user.is_anonymous %}{% url 'medbank.views.home' %}{% else %}{% url 'activity-mine' %}{% endif %}">Home</a>
      {% if user.is_anonymous %}
      <a class="action" href="{% url 'login' %}?next={% block loginnext %}{{ next_url|urlencode }}{% endblock loginnext %}">Login</a>
      {% else %}
      <span class="username">Welcome, {{ user.username }} ({{ user.student.get_current_stage }})</span>
      {% if perms.questions.approve %}<a class='action' href="{% url 'admin' %}">Admin</a>{% endif %}
      <a class='action' href="{% url 'logout' %}">Logout</a>{% endif %}
      </span>
  </div>
  </div>
{% endblock nav %}

{% block content %}
  <div class="starter-template">
    <h1>SUMS MedBank</h1>
    <p class="lead">MedBank is a peer-reviewed database of practice exam questions written by students in the Sydney Medical Program.<br>
      <a class="btn btn-large btn-primary" style="margin-bottom:15px;" href="{% url 'activity-mine' %}">Start writing questions</a><br>
      <a type="button" class="btn btn-large" href="{% url 'create_user' %}">I don't have an account yet</a></p>
  </div>
{% endblock content %}
