<h2>Question{% if user.is_superuser  %} #{{ question.id }} <small>{% include "question/display_status.html" with show_approver=True %}</small>{% endif %}</h2>
{% if user.is_superuser %}<h4>Written by {{ question.creator }}</h4>{% endif %}

<div class="question-body">
    {{ question.body|safe }}
</div>
<ol class="alpha">
    {% for a in question.options_list %}
        <li>{{ a|safe }}</li>
    {% endfor %}
</ol>

<h3>Answer and explanations <small><a class="toggle-answer">{% if show_answer %}Hide{% else %}Show{% endif %}</a></small></h3>
<div class="answer collapse{% if show_answer %} in{% endif %}">
	<p>Answer: {{ question.correct_answer }}</p>
    <p>The following explanations were provided for each of the options:</p>
    <ol class="alpha">
    {% for option, answer in question.explanation_dict.iteritems %}
        <li {% if not answer %}class="loading"{% endif %}>{{ answer|safe|default:"Explanation was not provided."}}</li>
    {% endfor %}
    </ol>
</div>
