{% extends "newbase.html" %}


{% block content %}
	<h1>How to write Multiple Choice Questions (MCQs)</h1>
	<p>Please learn to write good MCQs. This will boost efficiency. Everyone will write good questions and you will not have to answer questions that make you want to tear your hair out with frustration. </p>
	<h2>What makes a good MCQ?</h2>
	<p>A good MCQ should test knowledge and competence. It should be objective and relevant to the learning outcomes.</p>
	<h2>How do I write a good MCQ?</h2>
	<p><strong>This is what you should NOT do.</strong> Do not go open a random Powerpoint presentation that you do not understand and proceed to make a list of five true or false statements. This is not a good MCQ question. It does not test understanding of information. It just tests ability to recall random facts. Ability to recall random facts does not make you a good doctor.</p>

	<p>A good MCQ should have a stem and a lead-in question. The stem should contain all the information. Also, the five answers you give should be equally likely.</p>

	<p>
		Here is an example of a <strong>bad MCQ</strong>:
		<div class="well">
			Which of the following is not not FALSE?
			<ol class="alpha">
				<li>I will one day be a doctor and this is a good thing. Also WHBZ?</li>
				<li>In Carson et al.'s paper (2014) it has been suggested that diabetes is a type of Alzheimer's disease.</li>
				<li>Mary has Parkinson's Disease and should go to a nursing home because it is affecting her children.</li>
				<li>93.2% of the population should buy a CPAP machine.</li>
				<li>92.3% of the population should buy a CPAP machine.</li>
			</ol>
		</div>
		This is such a bad MCQ. It is pretty much the worse for the following reasons:
		<ol>
			<li>The question has so many 'not's in it and this makes it confusing. A good question should not test your ability to solve a logic puzzle. Asking 'which of the following is NOT true' or ‘which of the following is false' just adds an extra layer of complexity to the problem and should be avoided if possible.</li>
			<li>Option A is a subjective statement. Also, what does WHBZ stand for? Please refrain from using abbreviations, unless you define them in the stem first.</li>
			<li>Option B is testing very recent knowledge. A good MCQ does not test students on how well they are following recent developments in science. This is not a trivia test. A good MCQ tests your understanding of content that is generally agreed upon. That is, avoid asking questions about very niche or novel areas.</li>
			<li>Option C is about Mary. Who is Mary? It is not clear who Mary is. Also, who are her children? There is not enough information to answer this question.</li>
			<li>If option D is right, E cannot be right and vice versa. Also, the statistics are overly specific. Also, 'should' makes the statement normative. Also, CPAP machines have nothing to do with Parkinson's or Alzheimer's which are mentioned in the other parts of the question. Try and keep your questions specific to one block.</li>
		</ol>
	</p>
	<br />
	<p>
		Here is an example of a good MCQ:
		<div class="well">
			Mary has recently had a child. Her child is in the 99% percentile for weight and only the 50% percentile for height. His BMI puts him in the obese range. She reports that he overeats to the point where she has to lock her pantry. He throws temper tantrums frequently and has started to pick at his skin. She also reports that he has an uncanny talent for solving jigsaw puzzles. You suspect that Mary's child has a disorder caused by a genetic mutation in which chromosome?
			<ol class="alpha">
				<li>13</li>
				<li>14</li>
				<li>15</li>
				<li>18</li>
				<li>21</li>
			</ol>
		</div>
		This is a good question because all the relevant information is in the question, and not in the answers. Also, if you didn't know anything about the topic, you would not be able to guess the correct answer just by looking at the five possibilities. The question has enough information to suggest that Mary's child has Prader-Willi syndrome, which is caused by a genetic mutation in chromosome 15.
	</p>
	<p><strong>You cannot write a good MCQ until you have a good understanding of the topic. Therefore, it is recommended that you revise the topic before writing the questions.</strong></p>

	<h2>Why should I bother doing this?</h2>
	<p>You should do this because it forces you to revise, which means you will have less information to cram later. Also, you can learn a lot in the process of constructing an excellent multiple choice question. Finally, if your multiple choice question is very good, we will submit it to the Faculty and it could be in the assessment. You will not, however, receive royalties.</p>

	<h2>Well I hate Medbank because all the questions other people write are stupid anyway, and often the answers are wrong.</h2>
	<p>We have implemented a new process where the 4th years approve our questions before we release them. This will improve quality control. If we improve quality control from our end, and you improve quality control from your end (by writing good questions), we will have a bank of wonderful questions and everyone will be happy forever!</p>
{% endblock content %}