{% extends "generic/newbase_with_actions.html" %}

{% block actions %}
	<h3>Page actions</h3>
	<a class="action" href="{{ question.get_absolute_url }}">Back to question</a>
{% endblock actions %}

{% block maincontent %}
	<h1>Question approval history</h1>
	<h2>Current status: {% include "question/display_status.html" %}</h2>
	{% if question.date_assigned %}
	{% include "question/display_approval_record.html" with record=question %}
	{% else %}
	<p>This question has not yet been assigned to anybody.</p>		
	{% endif %}
{% for record in question.get_approval_records_recent_first %}
	<h3>Previous status: {% include "question/display_status_from_record.html" %}</h3>
	{% include "question/display_approval_record.html" %}
	{% endfor %}
{% endblock maincontent %}