{% extends "newbase.html" %}
{% load custom_filters %}

{% block content %}
	<h1>Dashboard{% if user.is_superuser %} <small><a href="{% url 'dashboard-admin' %}">Admin</a></small>{% endif %}</h1>
	{% if main_feature_text or secondary_feature_text %}
	<div class="row">
		<div class="col-sm-12">
			<div class="dashboard">
				{% if main_feature_text %}<h2>{{ main_feature_text }}</h2>{% endif %}
				{% if secondary_feature_text %}<p class="lead">{{ secondary_feature_text }}</p>{% endif %}
			</div>
		</div>
	</div>
	{% endif %}
	<div class="row">
		<div class="col-sm-6">
			<div class="dashboard">
				<h1>{{ current_assigned_activities|length|default:0 }}</h1>
				<p class="lead">open {{ current_assigned_activities|length|plural:"activity" }} assigned to me</p>
				{% if current_assigned_activities %}<a class="action" href="{% url "activity-mine" %}">View activities</a>{% else %}{% if block_count %}<p class="action">View open blocks to the right.</p>{% else %}<p class="action">Please check back later</p>{% endif %}{% endif %}
			</div>
		</div>
		<div class="col-sm-6">
			<div class="dashboard">
				<h1>{{ block_count }}</h1>
				<p class="lead">block{{ block_count|pluralize }} open for signups</p>
				{% if block_count %}<a class="action" href="{{ open_block_view_url }}">All blocks</a>{% else %}<p class="action">Please check back later</p>{% endif %}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="dashboard">
				<h2>Interested in seeing questions for previous blocks?</h2>
				{% if released_block_count %}
					<p class="lead">Click the link below to view all the questions you have access to.</p>
					<a class="action" href="{{ released_block_view_url }}">View released blocks</a>
				{% else %}
					<p class="lead">Unfortunately there are no blocks released which you can view right now.</p>
					<p class="action">Please check again later.</p>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock content %}